@using Entities.ViewModels.HotelBookingRoom
@using Entities.ViewModels.Tour
@using Entities.Models
@{ int i = 0;
    int i2 = 0;
    int index = 0;
    var ListTourGuests = (List<TourGuests>)ViewBag.ListTourGuests;
    var TourPackageOptional = (List<AllCode>)ViewBag.TourPackageOptional;
    var ContactClient = (ContactClient)ViewBag.ContactClient;
    var listTourPackagesOptional = (List<TourPackagesOptionalViewModel>)ViewBag.listTourPackagesOptional;
    Entities.Models.Tour tour = (Entities.Models.Tour)ViewBag.Tour;

}

@model List<TourPackages>
<style>
    textarea {
        min-height: 70px !important;
        min-width: 120px !important;
    }

    .style-width {
        max-width: 70px !important;
        min-width: 50px !important;
    }

    .style-width2 {
        min-width: 200px !important;
    }

    .style-width3 {
        min-width: 250px !important;
    }
    .form-control:disabled {
        background-color: #e8e8e8 !important;
    }
</style>
<div class="bold mb15 txt_14">Ghi chú</div>
<div class="form-group">
    <textarea class="form-control service-tour-note" disabled style="height: 200px;">@(tour != null&& tour.Note!=null?tour.Note:"")</textarea>
</div>
<div class="flex-auto mb15" style=" justify-content: right;">
    <div class="form-group other-amount" style="min-width: 200px;width: 200px; ">
        <label class="lbl text-center" style="width: 100%;">Chi phí khác </label>
        <div class="wrap_input">
            <input id="servicemanual-hotel-other-amount" class="form-control currency text-right servicemanual-hotel-other-amount" disabled type="text" name="servicemanual-hotel-other-amount" placeholder="Nhập chi phí khác" value="@(tour != null&& tour.OthersAmount!=null ? ((double)tour.OthersAmount).ToString("N0"):"0")">
        </div>
    </div>
    <div class="form-group discount" style="min-width: 200px;width: 200px;">
        <label class="lbl text-center" style="width: 100%;">Hoa hồng CTV</label>
        <div class="wrap_input">
            <input id="servicemanual-hotel-discount" class="form-control currency text-right servicemanual-hotel-discount" disabled type="text" name="servicemanual-hotel-discount" placeholder="Nhập chiết khấu" value="@(tour != null&& tour.Commission!=null ?  ((double)tour.Commission).ToString("N0"):"0")">
        </div>
    </div>
</div>
<div>
    <span>
        <strong>Bảng kê dịch vụ phòng</strong> (Đơn giá đã bao gồm thuế phí + Phí dịch vụ Adavigo)
        @if (  ViewBag.Tourstatus == (int)Utilities.Contants.ServiceStatus.OnExcution || ViewBag.Tourstatus == (int)Utilities.Contants.ServiceStatus.ServeCode || ViewBag.Tourstatus == (int)Utilities.Contants.ServiceStatus.ServeCodeKH)
        {<a class="btn btn-default green ml-1" id="CCthanhtien" style="color: white;" onclick="_SetService_Tour_Detail.TTStatus()">Cập nhật dịch vụ</a>}
        @*<a class="btn btn-default ml-1" id="GuiEmail" style="color: white;" onclick="">Gửi mail</a>*@
        <a class="btn btn-default green ml-1" id="Boqua" style="color: white; display:none" onclick="_SetService_Tour_Detail.BQStatus()">Bỏ qua</a>
        <a class="btn btn-default ml-1" id="luu" style="color: white; display: none" onclick="_SetService_Tour_Detail.Summit()">Lưu</a>
    </span>
</div>
<br />

<div class="table-responsive table-default table-gray">
    <table class="table table-nowrap ">
        <thead>
            <tr>
                <th style="width: 80px; text-align: center;">STT</th>
                <th style="width: 150px; text-align: center;">Mã dịch vụ</th>
                <th style="width: 300px; text-align: center;">Nhà cung cấp</th>
                <th style="width: 150px; text-align: center;">Loại dịch vụ</th>
                <th style="width: 150px; text-align: center;">Đơn giá</th>
                <th style="width: 90px; text-align: center;">Số lượng </th>
                <th style="width: 90px; text-align: center;">Số lần</th>
                <th class="text-right" style="width: 150px; text-align: center;">Thành tiền</th>
                <th style="text-align: center;min-width:200px !important;">Ghi chú</th>
                <th style="text-align: center;">Thao tác</th>
            </tr>
        </thead>
        <tbody class="service-tour-extrapackage-tbody">

            @if (listTourPackagesOptional != null && listTourPackagesOptional.Count > 0)
            {
                foreach (var item in listTourPackagesOptional)
                {
                    <tr class="service-tour-extrapackage-row" data-extra-package-id="@item.Id">
                        <td style="text-align: center;" class="service-tour-stt">@(++index) <input name="service-tour-package-stt" style="display:none" class="form-control service-tour-package-stt" value="@(index)"> </td>
                        <td style="max-width: 150px;">@item.PackageName</td>
                        <td>
                            <select disabled class="service-tour-extrapackage-SupplierId-select supplier-select style-width3" style="background: #f0f0f0; width: 100% !important;">

                                <option selected="selected" value="@item.SupplierId">@item.SupplierId - @item.SupplierName</option>
                            </select>
                        </td>
                        <td>
                            <select disabled style="background: #f0f0f0; width: 100% !important" class="supplier-select  service-tour-extrapackage-Packageid-select" name="service-tour-extrapackage-Packageid-select">

                                <option selected="selected" value="@item.Packageid">@item.PackageidName </option>

                            </select>
                        </td>
                        <td> <input disabled style="background: #f0f0f0;" class="form-control style-width2 text-right currency service-tour-extrapackage-Price" value="@(((double)item.Price).ToString("N0"))"></td>
                        <td> <input disabled style="background: #f0f0f0;" class="form-control style-width text-right currency service-tour-extrapackage-Quantity" value="@((item.Quantity))"></td>
                        <td> <input disabled style="background: #f0f0f0; " class="form-control style-width text-right currency service-tour-extrapackage-Times" value="@((item.Times))"></td>

                        <td class="text-right"> <input disabled style="background: #f0f0f0;" class="form-control style-width2 text-right currency service-tour-extrapackage-amount" value="@(((double)item.Amount).ToString("N0"))"></td>
                        <td><textarea class="form-control style-width2   textarea service-tour-extrapackage-Note" disabled style="background: #f0f0f0;">@item.Note</textarea></td>
                        <td style="text-align: center;">
                            <a class="fa fa-trash-o  service-tour-delete" href="javascript:;" style="display:none" onclick="_SetService_Tour_Detail.DeleteTourPackageOptional(@item.Id,@item.TourId);"></a>
                        </td>
                    </tr>
                }
            }

            <tr class="service-tour-extrapackage-summary-row">
                <td></td>
                <td>
                    <a href="javascript:;" class="blue ml-2 mb10 service-tour-buttun" style="display:none" onclick="_SetService_Tour_Detail.AddTourPackage($(this));"><i class="fa fa-plus-circle green"></i> Thêm dòng</a>

                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-right">Tổng cộng</td>
                @if (listTourPackagesOptional != null && listTourPackagesOptional.Count > 0)
                {

                    <td class="text-right service-tour-total-extrapackage-amount-after-vat" data-extra-package-amount="0">
                        @(((double)(listTourPackagesOptional.Sum(x => x.Amount))).ToString("N0"))

                    </td>
                }
                else
                {

                    <td class="text-right service-tour-total-extrapackage-amount-after-vat" data-extra-package-amount="0">
                    </td>
                }
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<h3 class="txt_18 bold mb20">
    Danh sách đoàn
</h3>
<p>Thông tin thành viên chính</p>
<div class="wrap_bg wrap_bg_no-padding mb20">
    <div class="table-responsive table-default table-gray">
        <table class="table table-nowrap">
            <thead>
                <tr>
                    <th>Họ và tên</th>
                    <th>Ngày sinh</th>
                    <th>Giới tính</th>
                    <th>Số CCCD</th>
                    <th>Số phòng</th>
                    <th>Điện thoại</th>
                    <th>Email</th>
                    <th>Ghi chú</th>
                </tr>
            </thead>
            <tbody>
            <tbody>
                @if (ContactClient != null)
                {
                    <tr>
                        <td>@ContactClient.Name</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>@ContactClient.Mobile</td>
                        <td>@ContactClient.Email</td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<span>
    Thông tin danh sách  thành viên khác
    @if (ViewBag.Tourstatus != 1 && ViewBag.Tourstatus != 4 && ViewBag.Tourstatus != 3 && ViewBag.Tourstatus != 5)
    {<a class="btn btn-default green ml-1" id="CCTourGuests" style="color: white;" onclick="_SetService_Tour_Detail.TTStatusTourGuests()">Cập nhật danh sách đoàn</a>}
    @*<a class="btn btn-default ml-1" id="GuiEmail" style="color: white;" onclick="">Gửi mail</a>*@
    <a class="btn btn-default green ml-1" id="BoquaTourGuests" style="color: white; display:none" onclick="_SetService_Tour_Detail.BQStatusTourGuests()">Bỏ qua</a>
    <a class="btn btn-default ml-1" id="luuTourGuests" style="color: white; display: none" onclick="_SetService_Tour_Detail.SummitTourGuests()">Lưu</a>
</span>
<div class="wrap_bg wrap_bg_no-padding mb20" style="margin-top:10px !important">
    <div class="table-responsive table-default table-gray">
        <table class="table table-nowrap">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Họ và tên</th>
                    <th>Ngày sinh</th>
                    <th>Giới tính</th>
                    <th>Số CCCD</th>
                    <th>Số phòng</th>
                    <th>Ghi chú</th>
                </tr>
            </thead>
            <tbody>
                @if (ListTourGuests != null)
                {
                    foreach (var hg in ListTourGuests)
                    {
                        i2++;
                        <tr class="service-TourGuests-extrapackage-row" data-TourGuests-id="@hg.Id">
                            <td style="width:100px;">@i2</td>
                            <td style="width:250px">@hg.FullName</td>
                            <td style="width:200px">@(Convert.ToDateTime(hg.Birthday).ToString("dd/MM/yyyy"))</td>
                            @if (hg.Gender != null)
                            {
                                if (hg.Gender == 0)
                                {


                                    <td style="width:100px;">Nam</td>
                                }
                                else
                                {
                                    <td style="width:100px;">Nữ</td>
                                }

                            }
                            else
                            {
                                <td style="width:100px;"></td>
                            }

                            <td style="width: 200px;"><input class="form-control style-width2 text-right TourGuests-CCCD" value="@hg.Cccd" disabled style="background: #f0f0f0;" /></td>
                            <td style="width: 200px;"><input class="form-control style-width2 text-right TourGuests-RoomNumber" value="@hg.RoomNumber" disabled style="background: #f0f0f0;" /></td>
                            <td>@hg.Note</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
@*<p>Tệp đính kèm</p>*@
<div class="attachment-operator border pd10">
</div>
<script>
    _SetService_Tour_Detail.TourOrderedInitialization()

</script>

