@{
    ViewData["Title"] = "Chi tiết đặt dịch vụ khách sạn";
    bool allow_to_finish_payment = (bool)ViewBag.AllowToFinishPayment;

}
@using Entities.ViewModels.HotelBooking
@using Utilities.Contants
@model HotelBookingDetailViewModel
<div class="row-main container">
    <div class="table-responsive table-white">
        <input id="Orderid" value="@Model.OrderId" style="display:none" />
        <input id="HotelBookingID" value="@Model.Id" style="display:none" />
        <input id="ContactClientId" value="@Model.ContactClientId" style="display:none" />
        <input value="@Model.ServiceCode" id="ServiceCode" style="display:none" />
        <input value=" @Model.Status" id="StatusBooking" style="display:none" />
        <input value="@ViewBag.user" id="user" style="display:none" />
        <input value="@ViewBag.ClientId" id="client_id" style="display:none" />
        <input value="@Model.TotalAmount" id="total_amount" style="display:none" />
        <input id="suplier-detail" data-suplier-name="@Model.SuplierName" data-suplier-id="@Model.SupplierId" style="display:none" />
        @*  <div class="col-8 mb10" id="operator-order-amount" data-amount="@(Model.Price !=0? ((double)Model.Price).ToString(""): Model.TotalAmount.ToString(""))" style="display:none"></div>*@
        <div id="grid_data_hotelBookingDetail">
            <img src="~/images/icons/loading.gif" style=" width: 100px; height: 100px; display:none" class="loading" id="imgLoading_hotelBookingDetail" />
        </div>
        @*<table class="table table-nowrap" id="hotelBookingDetail">
                <tbody>

                    <tr>
                        <td colspan="3">
                            <strong>Dịch vụ khách sạn: @Model.ServiceCode</strong>
                            @if (Model.Status == 0)
                            {<span class="status-oranger">@Model.StatusName</span>}
                            @if (Model.Status == 1)
                            {<span class="status-oranger">@Model.StatusName</span>}
                            @if (Model.Status == 2)
                            {<span class="status-blue">@Model.StatusName</span>}
                            @if (Model.Status == 3)
                            {<span class="status-green">@Model.StatusName</span>}
                            @if (Model.Status == 4)
                            {<span class="status-green">@Model.StatusName</span>}
                            @if (Model.Status == 5)
                            {<span class="status-red">@Model.StatusName</span>}
                    </tr>
                    <tr>
                        <td style="min-width: 400px;">
                            <div class="row">
                                <div class="col-4 mb10 gray">Tên khách sạn</div>
                                <div class="col-8 mb10">: @Model.HotelName</div>
                                <div class="col-4 mb10 gray">Nhà cung cấp</div>
                                <div class="col-8 mb10" id="suplier-detail" data-suplier-name="@Model.SuplierName" data-suplier-id="@Model.SupplierId">: @Model.SuplierName</div>
                                <div class="col-4 mb10 gray">Ngày check in</div>
                                <div class="col-8 mb10">: @(Convert.ToDateTime(Model.CheckinTime).ToString("dd/MM/yyyy HH:mm:ss"))</div>
                                <div class="col-4 mb10 gray">Ngày check out</div>
                                <div class="col-8 mb10">: @(Convert.ToDateTime(Model.CheckoutTime).ToString("dd/MM/yyyy HH:mm:ss"))</div>
                                <div class="col-4 mb10 gray">Số lượng phòng</div>
                                <div class="col-8 mb10">: @Model.NumberOfRoom</div>
                                <div class="col-4 mb10 gray">Nhân viên bán</div>
                                <div class="col-8 mb10">: @Model.UserCreate</div>
                                <div class="col-4 mb10 gray">Điều hành viên</div>
                                <div class="col-8 mb10">: @Model.SalerName    <a class="blue" onclick="_SetService_Detail.OpenPopupUserAgent(@Model.Id)"><i class="fa fa-edit blue"></i></a></div>
                            </div>
                        </td>
                        <td style="min-width: 400px;">
                            <div class="row">
                                <div class="col-4 mb10 gray">Tổng phải thu</div>
                                <div class="col-8 mb10">: @Model.TotalAmount.ToString("N0")</div>
                                <div class="col-4 mb10 gray">Tổng chi phí ban đầu</div>
                                <div class="col-8 mb10">: @Model.TotalPrice.ToString("N0")</div>
                                <div class="col-4 mb10 gray">Tổng chi phí thực tế</div>
                                <div class="col-8 mb10" id="operator-order-amount" data-amount="@(Model.Price !=null? ((double)Model.Price).ToString(""): Model.TotalAmount.ToString(""))">: @(Model.Price !=null? ((double)Model.Price).ToString("N0"): Model.TotalAmount.ToString("N0"))</div>
                                <div class="col-4 mb10 gray">Lợi nhuận</div>
                                <div class="col-8 mb10">: @Model.TotalProfit.ToString("N0")</div>
                            </div>
                        </td>
                        <td style="min-width: 400px;">
                            <div class="row">
                                <div class="col-5 mb10 gray">Người tạo</div>
                                <div class="col-7 mb10">: @Model.UserCreate</div>
                                <div class="col-5 mb10 gray">Ngày tạo</div>
                                <div class="col-7 mb10 ">: @(Convert.ToDateTime(Model.CreatedDate).ToString("dd/MM/yyyy HH:mm:ss"))</div>
                                <div class="col-5 mb10 gray">Người cập nhật</div>
                                <div class="col-7 mb10">: @(Model.UserUpdate ==null?"N/A": Model.UserUpdate)</div>
                                <div class="col-5 mb10 gray">Ngày cập nhật</div>
                                <div class="col-7 mb10">: @(Model.UserUpdate == null ? "N/A" : Model.UpdatedDate.ToString("dd/MM/yyyy HH:mm:ss"))</div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>*@
    </div>
    <div class="tab-default" style="border-bottom: 1px solid #CCCCCC;">
        <div class="row" style=" width: 100%; ">
            <div class="tab-default col-md-9 mb0 mt10">
                <a href="javascript:;" onclick="_SetService_Detail.OnStatuse(1); _SetService_Detail.SetActive(1)" id="data_order" class="active">Đơn hàng</a>
                <a href="javascript:;" onclick="_SetService_Detail.OnStatuse(2); _SetService_Detail.SetActive(2)" id="dataListHotelServicesOrder">Dịch vụ cần đặt</a>
                <a href="javascript:;" onclick="_SetService_Detail.OnStatuse(3); _SetService_Detail.SetActive(3)" id="data_ListHotelServicesbooked">Dịch vụ đã đặt</a>
                <a href="javascript:;" onclick="_SetService_Detail.OnStatuse(4); _SetService_Detail.SetActive(4)" id="data_payment_account">Thanh toán</a>
                <a href="javascript:;" onclick="_SetService_Detail.OnStatuse(5); _SetService_Detail.SetActive(5)" id="data_HotelBookingCode">Code dịch vụ</a>
                <a href="javascript:;" onclick="_SetService_Detail.OnStatuse(6); _SetService_Detail.SetActive(6)" id="data_HotelRefund">Hoàn trả khách hàng</a>
               
            </div>
        </div>
    </div>
    <div>
        <div id="grid_data_order">
            <img src="~/images/icons/loading.gif" style=" width: 100px; height: 100px; display:none" class="loading" id="imgLoading_order" />
        </div>
        <div id="grid_data_ListHotelServicesOrder" style="display:none">
            <img src="~/images/icons/loading.gif" style=" width: 100px; height: 100px; display:none" class="loading" id="imgLoading_ListHotelServicesOrder" />
        </div>
        <div id="grid_data_ListHotelServicesbooked" style="display:none">
            <img src="~/images/icons/loading.gif" style=" width: 100px; height: 100px; display:none" class="loading" id="imgLoading_ListHotelServicesbooked" />
        </div>
        <div id="grid_data_HotelBookingCode" style="display:none">
            <img src="~/images/icons/loading.gif" style=" width: 100px; height: 100px; display:none" class="loading" id="imgLoading_HotelBookingCode" />
        </div>
        <div id="grid_data_HotelBookingpayment" style="display:none">
            <img src="~/images/icons/loading.gif" style=" width: 100px; height: 100px; display:none" class="loading" id="imgLoading_HotelBookingpayment" />
        </div>
        <div id="grid_data_HotelBookingRefund" style="display:none">
            <img src="~/images/icons/loading.gif" style=" width: 100px; height: 100px; display:none" class="loading" id="imgLoading_HotelBookingRefund" />
        </div>
    </div>
    <input id="HotelBookingstatus" value="@Model.Status" style="display:none" />
    <div class="form-group align-right mt20 block pin-btn-bottom ">
        <b class="btn btn-default cancel ml-1" onclick="history.back()">Quay lại</b>
        @if (Model.Status != (int)Utilities.Contants.ServiceStatus.Payment && Model.Status != (int)Utilities.Contants.ServiceStatus.Cancel && Model.Status != (int)Utilities.Contants.ServiceStatus.Decline)
        {
            <button type="button" class="btn btn-default red ml-1" onclick="_SetService_Detail.OnResetStatusPopup(@Model.Id,@((int)ServicesType.VINHotelRent),@Model.OrderId,'')">Từ chối</button>
        }
        @if (Model.Status == (int)Utilities.Contants.ServiceStatus.WaitingExcution)
        {
            <button type="button" class="btn btn-default ml-1" onclick="_SetService_Detail.UpdateOrderStatus(@Model.Id,@((int)ServiceStatus.OnExcution),@Model.OrderId)">Nhận đặt dịch vụ</button>
        }
        @if (Model.Status == (int)Utilities.Contants.ServiceStatus.OnExcution)
        {
            <button type="button" class="btn btn-default ml-1" onclick="_SetService_Detail.UpdateOrderStatus(@Model.Id,@((int)ServiceStatus.ServeCode),@Model.OrderId)">Trả code dịch vụ</button>
        }
        
        @if ((Model.Status == (int)Utilities.Contants.ServiceStatus.ServeCode || Model.Status == (int)Utilities.Contants.ServiceStatus.ServeCodeKH) && allow_to_finish_payment)
        {
            <button type="button" class="btn btn-default ml-1" onclick="_SetService_Detail.UpdateOrderStatus(@Model.Id,@((int)ServiceStatus.Payment),@Model.OrderId)">Quyết toán</button>
        }
        else if (Model.Status == (int)Utilities.Contants.ServiceStatus.ServeCode || Model.Status == (int)Utilities.Contants.ServiceStatus.ServeCodeKH)
        {
            <button type="button" class="btn btn-default ml-1 disabled" onclick="return false;" disabled style="">Quyết toán</button>
        }
    </div>
</div>


@section scripts {
    <script type="text/javascript" src="/modules/SetServiceDetail.js"></script>
    <script type="text/javascript" src="~/modules/payment_request.js"></script>
    <script type="text/javascript" src="~/js/zebra_datepicker.min.js"></script>

    <script>
        _SetService_Detail.loadDataDetail();
    </script>
}