@{ 
    Layout = null;
    Entities.ViewModels.GenericViewModel<Entities.ViewModels.SetServices.VinWonderBookingSearchViewModel> model = (Entities.ViewModels.GenericViewModel<Entities.ViewModels.SetServices.VinWonderBookingSearchViewModel>)ViewBag.Model;
    int index = 0;
    long countVinwonder = model.TotalRecord;
    if (model!=null && model.ListData!=null && model.ListData.Count > 0)
    {
        index = (model.CurrentPage - 1) * model.PageSize;
    }

}
<style>
    .green {
        color: #4BAC4D;
    }
</style>

@if (model != null && model.ListData != null && model.ListData.Count > 0)
{

<div class="wrap_bg wrap_bg_no-padding mb20">
    <div class="table-responsive table-default table-gray">
        <table class="table table-nowrap">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã dịch vụ</th>
                    <th>Chi tiết dịch vụ</th>
                    <th>
                        Ngày bắt đầu
                    </th>
                    <th>Doanh thu dịch vụ</th>
                    <th>Giá NET thực tế</th>
                    <th>Lợi nhuận thực tế</th>
                    <th>Mã đơn hàng</th>
                    <th>Ngày tạo</th>
                    <th>Nhân viên bán</th>
                    <th>Điều hành</th>
                    <th style="width: 150px !important;">Mã code</th>                  
                    <th>Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in model.ListData)
                {
                <tr>
                    <td>@(++index)</td>
                    <td>
                        <a class="blue" href="vinwonder/Detail/@(item.Id)">@(item.ServiceCode==null || item.ServiceCode.Trim()==""?"{Unknown Code}": item.ServiceCode) </a>
                    </td>
                    <td>
                        Địa điểm : @(item.SiteName == null?"": item.SiteName)
                    </td>
                    <td>@item.StartDate.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>
                        @(item.Amount==null ?"": ((double)item.Amount).ToString("N0"))
                    </td>
                    <td>
                        @(item.Price==null ?"": ((double)item.Price).ToString("N0"))
                    </td>
                    <td>
                        @{ double operator_profit = (item.Amount == null ? 0 : (double)item.Amount) - (item.Price == null ? 0 : (double)item.Price); }
                        @(operator_profit.ToString("N0"))
                    </td>
                    <td><a class="blue" href="/Order/@item.OrderId">@item.OrderNo</a> </td>
                    <td>@item.CreatedDate.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>@item.SalerName (@item.DepartmentName)</td>
                    <td>@item.OperatorName</td>
                    <td> @(item.BookingCode== null? "": item.BookingCode.TrimEnd(',', ' '))</td>
                    <td>

                        @if (item.VinWonderBookingStatus == 0)
                        {
                            <span class="status-oranger">@item.VinWonderBookingStatusName</span>}
                        @if (item.VinWonderBookingStatus == 1)
                        {
                            <span class="status-oranger">@item.VinWonderBookingStatusName</span>}
                        @if (item.VinWonderBookingStatus == 2)
                        {
                            <span class="status-blue">@item.VinWonderBookingStatusName</span>}
                        @if (item.VinWonderBookingStatus == 3)
                        {
                            <span class="status-green">@item.VinWonderBookingStatusName</span>}
                        @if (item.VinWonderBookingStatus == 4)
                        {
                            <span class="status-green">@item.VinWonderBookingStatusName</span>}
                        @if (item.VinWonderBookingStatus == 5 || item.VinWonderBookingStatus == 6)
                        {
                            <span class="status-red">@item.VinWonderBookingStatusName</span>}
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
       
    @if (model != null && model.ListData != null && model.ListData.Count > 0)
    { 
        <input id="countVinwonder" value="@countVinwonder" style="display:none" />
        @await Component.InvokeAsync("PagingNew", new
        {
            pageModel = new Entities.ViewModels.Paging()
            {
                TotalRecord = model.TotalRecord,
                TotalPage = model.TotalPage,
                CurrentPage = model.CurrentPage,
                PageSize = model.PageSize,
                RecordName = "vinwonder",
                PageAction = "_set_service_vinwonder.OnPaging({0})",
                PageSelectPageSize = "_set_service_vinwonder.onSelectPageSize()",
            }
        })
    }

</div> }
            else
            {
<div class="search-null center mb40">
    <div class="mb24">
        <img src="/images/graphics/icon-search.png" alt="">
    </div>
    <h2 class="title txt_24">Không tìm thấy kết quả</h2>
    <div class="gray">Chúng tôi không tìm thấy thông tin mà bạn cần, vui lòng thử lại</div>
</div>}
