@{
    Layout = null;
    Entities.Models.VinWonderBooking? booking = (Entities.Models.VinWonderBooking?)ViewBag.Booking;
    List<Entities.Models.VinWonderBookingTicket> list = (List<Entities.Models.VinWonderBookingTicket>)ViewBag.Packages;
    double amount = (double)booking.Amount;
    double profit = 0;
    double unit_price = (double)booking.TotalUnitPrice;
    int index = 0;
}
<style>
    .service-other-ordered-package-name {
        margin-top: 15px;
    }
    .form-control:disabled {
        background-color: #e8e8e8 !important;
    }
</style>
<div>
    <div class="bold mb10 txt_14">Ghi chú</div>
    <div class="form-group">
        <textarea class="form-control service-vinwonder-readonly-note input-disabled-background" disabled style="height: 200px;" rows="6">@(booking!=null && booking.Note!=null? booking.Note:"")</textarea>
    </div>
</div>
<div class="row row_min">
    <div class="col-xl-2 col-lg-3 col-md-6 mb15">
        <label class="lbl mb5">Địa điểm<sup class="red">*</sup></label>
        <select id="add-service-vinwonder-select-location" class="select select2 add-service-vinwonder-select-location input-disabled-background" disabled name="add-service-vinwonder-select-service" style="width: 100%;">
            @if (booking != null && booking.Id > 0)
            {
                <option value="@(booking.SiteCode)" selected="selected">@(booking.SiteName)</option>
            }
        </select>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-6 mb15">
        <label class="lbl mb5">Chi phí khác </label>
        <input id="servicemanual-vinwonder-other-amount" class="form-control currency text-right servicemanual-vinwonder-other-amount" disabled type="text" name="servicemanual-vinwonder-other-amount" placeholder="Nhập chi phí khác" value="@(booking.OthersAmount!=null ? ((double)booking.OthersAmount).ToString("N0"):"0")">

    </div>
    <div class="col-xl-2 col-lg-3 col-md-6 mb15">
        <label class="lbl mb5">Hoa hồng CTV </label>
        <input id="servicemanual-vinwonder-discount" class="form-control currency text-right servicemanual-vinwonder-discount" disabled type="text" name="servicemanual-vinwonder-discount" placeholder="Nhập chiết khấu" value="@(booking.Commission!=null ? ((double)booking.Commission).ToString("N0"):"0")">

    </div>
</div>
<div>
    <div class="bold mb15 txt_14">
        Bảng kê dịch vụ
        <small>((Đơn giá đã bao gồm thuế phí + Phí dịch vụ Adavigo))</small>
        @if (booking != null && (booking.Status == (short)Utilities.Contants.ServiceStatus.OnExcution|| booking.Status == (short)Utilities.Contants.ServiceStatus.ServeCode))
        {
            <button class="btn btn-default update-operator-order-amount">Cập nhật thành tiền</button>
            <button class="btn btn-default update-operator-order-amount-save" style="display:none;">Lưu</button>
            <button class="btn btn-default update-operator-order-amount-cancel" style="display:none;">Hủy</button>
        }
    </div>
    <div class="table-responsive table-gray service-vinwonder-packages">
        <table class="table table-nowrap">
            <thead>
                <tr>
                    <th style="width: 70px;">STT</th>
                    <th style="min-width: 200px;">Nội dung</th>
                    <th class="text-left" style="min-width: 100px;">Thời gian sử dụng</th>
                    <th class="text-right" style="min-width: 100px;"> Giá nhập </th>
                    <th class="text-right" style="min-width: 100px;"> Giá bán </th>
                    <th class="text-right" style="width:100px !important;">Số lượng</th>
                    <th class="text-right"> Tổng tiền giá bán</th>
                    <th class="text-right"> Tổng tiền giá nhập</th>
                    <th class="text-right" style="width:150px !important;">Lợi nhuận</th>
                </tr>
            </thead>
            <tbody class="service-vinwonder-packages-tbody">

                @if (list.Count > 0)
                {
                    foreach (var item in list)
                    {
                        double item_unit_price = ((double)item.UnitPrice > 0) ? (double)item.UnitPrice : (double)item.Amount - (double)item.Profit;
                        double base_price_operator = Math.Round(item_unit_price / (double)item.Quantity, 0);
                        double item_profit = (double)item.Amount - item_unit_price;
                        profit += item_profit;
                        <tr class="service-vinwonder-packages-row" data-extra-package-id="@item.Id">
                            <td class="service-vinwonder-packages-order">@(++index)</td>
                            <td>
                                <input type="text" class="form-control service-vinwonder-packages-packagename input-disabled-background" disabled style="width:100% !important" value="@item.Name">
                            </td>
                            <td>
                                <input class="form-control service-vinwonder-packages-date input-disabled-background" disabled type="text" name="service-vinwonder-packages-date" value="@(item.DateUsed==null?"" :((DateTime)item.DateUsed).ToString("dd/MM/yyyy HH:mm"))">
                            </td>
                            <td> <input class="form-control text-right currency service-vinwonder-packages-baseprice-operator input-disabled-background" disabled type="text" name="service-vinwonder-packages-baseprice-operator" value="@(base_price_operator.ToString("N0"))"></td>
                            <td> <input class="form-control text-right currency service-vinwonder-packages-baseprice input-disabled-background" disabled type="text" name="service-vinwonder-packages-baseprice" value="@(((double)item.BasePrice).ToString("N0"))"></td>
                            <td> <input class="form-control text-right currency service-vinwonder-packages-quantity input-disabled-background" disabled type="text" name="service-vinwonder-packages-quantity" value="@(((int)item.Quantity).ToString("N0"))"></td>
                            <td class="text-right"> <input class="form-control text-right currency service-vinwonder-packages-amount input-disabled-background" disabled style="background-color: lightgray;" value="@(((double)item.Amount).ToString("N0"))"></td>
                            <td class="text-right"> <input class="form-control text-right currency service-vinwonder-packages-unit-price input-disabled-background" disabled style="background-color: lightgray;" value="@(item_unit_price.ToString("N0"))"></td>
                            <td class="text-right service-vinwonder-packages-profit-row">
                                <input class="form-control text-right currency service-vinwonder-packages-profit input-disabled-background" disabled type="text" value="@(item_profit.ToString("N0"))">
                            </td>
                        </tr>
                    }
                }
                <tr class="service-vinwonder-packages-summary-row">
                    <td></td>
                    <td colspan="2" class="text-right">Tổng cộng</td>
                    <td class="text-right"></td>
                    <td class="text-right"></td>
                    <td class="text-right"></td>
                    <td class="text-right font-weight-bold service-vinwonder-packages-total-amount">@(amount.ToString("N0"))</td>
                    <td class="text-right font-weight-bold service-vinwonder-packages-total-total-unit-price">@(unit_price.ToString("N0"))</td>
                    <td class="text-right font-weight-bold service-vinwonder-packages-total-profit">@(profit.ToString("N0"))</td>

                </tr>

            </tbody>
        </table>
    </div>
</div>

<div class="attachment-operator border pd10">
    <img src="/images/icons/loading.gif" style="width: 55px;height: 55px;margin-left: 10px;margin-bottom: 10px;" class="img_loading_summit coll">
</div>
