@using Entities.Models
@{
    var allCode_PAY_TYPE = (List<AllCode>)ViewBag.allCode_PAY_TYPE;
    var allCode_PAYMENT_VOUCHER_TYPE = (List<AllCode>)ViewBag.allCode_PAYMENT_VOUCHER_TYPE;
    var listPayment = (List<BankingAccount>)ViewBag.listPayment;
    var serviceId = (long)ViewBag.serviceId;
    var serviceType = (int)ViewBag.serviceType;
    var supplierId = (long)ViewBag.supplierId;
    var amount = (decimal)ViewBag.amount;
    var amount_supplier_refund = (decimal)ViewBag.amount_supplier_refund;
    var totalPayment = (decimal)ViewBag.totalPayment;
    var supplierName = (string)ViewBag.supplierName;
    var serviceCode = (string)ViewBag.serviceCode;
    var orderId = (long)ViewBag.orderId;
    var clientId = (int)ViewBag.clientId;
    var clientName = (string)ViewBag.clientName;
}
<style>
    .white-popup {
        max-width: 900px !important;
    }

    .content_lightbox .head {
        font-weight: 500 !important;
        font-size: 16px !important;
        margin-bottom: 20px !important;
    }

    .content_lightbox {
        padding: 20px !important;
    }

    .check-list1 {
        padding-left: 25px;
        position: unset;
        cursor: pointer;
        display: block;
        margin-bottom: 0;
    }

        .check-list1 .number {
            padding-right: 25px;
            padding-left: 0;
            display: inline-block;
        }
</style>


<div class="grid grid__2 grid-don-hang gap10 mb20">
    <div class="grid-item border">
        <input type="text" name="serviceId" id="serviceId" value="@serviceId" style="display: none" />
        <input type="text" name="serviceType" id="serviceType" value="@serviceType" style="display: none" />
        <input type="text" name="supplierId_service" id="supplierId_service" value="@supplierId" style="display: none" />
        <input type="text" name="amount_service" id="amount_service" value="@amount" style="display: none" />
        <input type="text" name="amount_service" id="amount_supplier_refund" value="@amount_supplier_refund" style="display: none" />
        <input type="text" name="totalPayment_service" id="totalPayment_service" value="@totalPayment" style="display: none" />
        <input type="text" name="orderId" id="orderId" value="@orderId" style="display: none" />
        <input type="text" name="clientId_service" id="clientId_service" value="@clientId" style="display: none" />
        <input type="text" name="clientId_name" id="clientId_name" value="@clientName" style="display: none" />
        <input type="text" name="supplierName" id="supplierName" value="@supplierName" style="display: none" />
        <input type="text" name="serviceCode" id="serviceCode" value="@serviceCode" style="display: none" />

        <div class="col-md-6 mb10"><label class="lbl mt5 mb0">Loại nghiệp vụ <sup class="red">*</sup></label></div>
        <div class="col-md-12 mb10">
            <select class="form-control" style="width: 100%; height: 34px ;" id="payment-request-type"
                    onchange="_add_payment_request.OnChooseRequestType()">
                <option value="-1" disabled selected>Chọn</option>
                @foreach (var item in allCode_PAYMENT_VOUCHER_TYPE)
                {
                    <option value="@item.CodeValue">@item.Description</option>
                }
            </select>
            <div class="validate-payment-request-type"></div>
        </div>

        <div class="col-md-6 mb10" id="lblSupplier"><label class="lbl mt5 mb0">Tên nhà cung cấp <sup class="red">*</sup></label></div>
        <div class="col-md-12 mb10" id="divSupplier" style=" max-width: 425px !important;">
            <select class="select2 supplier-select" id="supplier-select" style="width:100% !important" multiple="multiple"
                    onchange="_add_payment_request.OnChooseRequestType();_add_payment_request.OnChooseSupllier()">
            </select>
            <div class="validate-supplier-select"></div>
        </div>

        <div class="col-md-6 mb10" id="lblCustomer"><label class="lbl mt5 mb0">Tên khách hàng <sup class="red">*</sup></label></div>
        <div class="col-md-12 mb10" id="divCustomer" style=" max-width: 425px !important;">
            <select class="select2 client-select" id="client-select" style="width:100% !important" multiple="multiple"
                    onchange="_add_payment_request.OnChooseRequestType()">
            </select>
            <div class="validate-client-select"></div>
        </div>

        <div class="col-md-6 mb10"><label class="lbl mt5 mb0"> Số tiền <sup class="red">*</sup></label></div>
        <div class="col-md-12 mb10">
            <input type="text" class="form-control" id="amount" onkeyup="_add_payment_request.FormatNumber();" autocomplete="off" maxlength="15">
            <div class="validate-amount"></div>
        </div>

        <div class="col-md-12 mb10"> <label class="lbl mt5 mb0"> Nội dung <sup class="red">*</sup></label></div>
        <div class="col-md-12 mb10">
            <input type="text" id="content" maxlength="500" name="name" placeholder="Nhập text(tối đa 500 kí tự)" autocomplete="off" />
            <div class="validate-content"></div>
        </div>

        <div class="col-md-6 mb10" style=" margin-top: 50px !important;" id="divisPaymentBefore">
            <label class="lbl mb0">Đã thanh toán trước </label>
            <label class="check-list  number" style="display: contents !important;" onclick="_add_payment_request.OnChangePaymentBefore()">
                <input type="checkbox" id="isPaymentBefore">
                <span class="checkmark"></span>
            </label>
        </div>

    </div>
    <div class="grid-item border">

        <div class="col-md-6 mb10"> <label class="lbl mt5 mb0"> Hình thức <sup class="red">*</sup></label></div>
        <div class="col-md-12 mb10">
            <select class="form-control" style="width: 100%; height: 34px ;" id="payment-request-pay-type"
                    onchange="_add_payment_request.OnChoosePaymentType()">
                <option value="0" disabled selected>Chọn</option>
                @foreach (var item in allCode_PAY_TYPE)
                {
                    <option value="@item.CodeValue">@item.Description</option>
                }
            </select>
            <div class="validate-payment-request-pay-type"></div>
        </div>

        @if (clientId > 0)
        {
            <div class="col-md-6 mb10 ">
                <label class="lbl mt5 mb0" id="lblBankAccountRequired">Tài khoản ngân hàng nhận <sup class="red">*</sup></label>
                <label class="lbl mt5 mb0" id="lblBankAccount">Tài khoản ngân hàng nhận</label>
            </div>
            <div class="col-md-12 mb10 ">
                <select class="form-control " style="width: 100%; height: 34px ;" id="bankingAccount"
                        onchange="_add_payment_request.GetAccountName()">
                    <option value="-1" disabled selected>Chọn</option>
                    @foreach (var item in listPayment)
                    {
                        <option value="@item.Id">@item.BankId - @item.AccountNumber</option>
                    }
                </select>
                <div class="validate-bankingAccount"></div>
            </div>
        }
        else
        {
            <div class="col-md-6 mb10 ">
                <label class="lbl mt5 mb0" id="lblBankAccountRequired">Tài khoản ngân hàng nhận <sup class="red">*</sup></label>
                <label class="lbl mt5 mb0" id="lblBankAccount">Tài khoản ngân hàng nhận</label>
            </div>
            <div class="col-md-12 mb10 ">
                <select class="form-control " style="width: 100%; height: 34px ;" id="bankingAccount"
                        onchange="_add_payment_request.GetAccountName()">
                    <option value="-1" disabled selected>Chọn</option>
                </select>
                <div class="validate-bankingAccount"></div>
            </div>
        }

        <div class="col-md-6 mb10">
            <label class="lbl mt5 mb0">Tên người thụ hưởng</label>
        </div>
        <div class="col-md-12 mb10">
            <input class="form-control background-disabled" type="text" name="bankName" id="bankName" disabled>
        </div>

        <div class="col-md-6 mb10"><label class="lbl mt5 mb0">Thời hạn thanh toán<sup class="red">*</sup></label></div>
        <div class="col-md-12 mb10" style="width: 100% !important">
            <input class="form-control datepicker-payment" type="text" name="paymentDate" id="paymentDate"
                   style="width: 100% !important">
            <div class="validate-paymentDate"></div>
        </div>

        <div class="col-md-6 mb10" style=" margin-top: 50px !important;" id="divIsSupplierDebt">
            <label class="lbl mb0">Công nợ với nhà cung cấp </label>
            <label class="check-list  number" style="display: contents !important;">
                <input type="checkbox" id="isSupplierDebt">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>

</div>
<div class="row m-0 p-0">

    <div class="col-md-12 mb10"> Ghi chú</div>
    <div class="col-md-12 mb10">
        <textarea class="form-control" id="description" maxlength="3000" style="height: 100px;" autocomplete="off"></textarea>
        <div class="validate-description"></div>
    </div>

</div>
<div class="row m-0 p-0">
    <div class="bg-white border pd10 hidden" id="service-relate" style="display: none; width: 100% !important;">
        <div class="bold gray mb10">Dịch vụ liên quan</div>
        <div class="table-responsive table-default table-gray table-modal scroll-inner">
            <table class="table" id="service-relate-table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th style="min-width: 80px;">Mã dịch vụ</th>
                        <th style="min-width: 100px;">Ngày bắt đầu - Ngày kết thúc</th>
                        <th style="min-width: 80px;">Mã đơn hàng</th>
                        <th style="min-width: 100px;">Nhân viên điều hành</th>
                        <th class="text-right" style="min-width: 50px;">Số tiền</th>
                        <th class="text-right" style="min-width: 50px;">Đã giải trừ</th>
                        <th class="text-right" style="min-width: 50px;">Chưa giải trừ</th>
                        <th class="text-right" style="min-width: 100px;">Cần giải trừ</th>
                    </tr>
                </thead>
                <tbody id="body_service_list">
                </tbody>
            </table>
        </div>
        <div class="flex flex-end">
        </div>
    </div>
    <div class="bg-white border pd10 hidden" id="order-relate" style="display: none; width: 100% !important;">
        <div class="bold gray mb10">Đơn hàng liên quan</div>
        <div class="table-responsive table-default table-gray table-modal scroll-inner">
            <table class="table " id="order-relate-table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th style="min-width: 80px;">Mã đơn hàng</th>
                        <th style="min-width: 100px;">Ngày bắt đầu - Ngày kết thúc</th>
                        <th style="min-width: 100px;">Nhân viên chính</th>
                        <th class="text-right" style="min-width: 50px;">Số tiền</th>
                        <th class="text-right" style="min-width: 50px;">Đã hoàn trả</th>
                        <th class="text-right" style="min-width: 50px;">Chưa hoàn trả</th>
                        <th class="text-right" style="min-width: 100px;">Có thể hoàn trả</th>
                    </tr>
                </thead>
                <tbody id="body_order_list">
                </tbody>
            </table>
        </div>
        <div class="flex flex-end">
        </div>
    </div>
</div>

<div class="text-center" style="margin-top: 20px; margin-bottom: 20px;">
    <button type="submit" class="btn btn-default btn btn-default cancel" onclick="$.magnificPopup.close();">Bỏ qua</button>
    <button type="submit" class="btn btn-default btn-send-payment-request" onclick="_add_payment_request.AddRequest()" style="background: #5cb566 !important;">Lưu nháp</button>
    <button type="submit" class="btn btn-default btn-send-payment-request" onclick="_add_payment_request.AddRequest(1)" style="background: #5cb566 !important;">Gửi đi</button>
</div>

<script type="text/javascript" src="~/modules/add_payment_request.js?r=2"></script>
<script>
    $('.datepicker-payment').Zebra_DatePicker({
        format: 'd/m/Y H:i'
    }).removeAttr('readonly');
    _add_payment_request.Initialization();
    $().ready(function () {
        $('input').attr('autocomplete', 'off');
        setTimeout(function () {
            $('#service-relate').hide()
            $('#order-relate').hide()
        }, 800)
    })

</script>
<style scoped>

    .multiple-select {
        position: relative;
        max-width: 200px !important;
        width: 100%;
    }

    .select2-selection .select2-selection--single {
        height: 34px !important;
    }

    .token-input-client-add {
        min-width: 200px !important;
    }

        .token-input-client-add input {
            background: #fff !important;
            width: 100% !important;
            font-size: 13px !important;
            height: 30px !important;
            line-height: 30px !important;
            border: 1px solid #ccc !important;
            padding: 0 5px !important;
            outline: 0 !important;
            box-shadow: none !important;
            color: #000 !important;
            border-radius: 0.25rem !important;
        }

    .row-main-head .down-up .form-down {
        width: 345px !important;
    }

    .form-control {
        background: #fff;
        width: 100%;
        font-size: 13px;
        height: 30px;
        line-height: 30px;
        border: 1px solid #ccc;
        padding: 0 5px;
        outline: 0;
        box-shadow: none;
        color: #000;
        border-radius: 0.25rem !important;
    }

    .background-disabled {
        background: #eee !important;
    }

    .Zebra_DatePicker_Icon_Wrapper {
        width: 100% !important
    }
</style>