@{
    Layout = null;
}
@using Entities.ViewModels.TransferSms;
@using Entities.ViewModels
@using Entities.Models
@model GenericViewModel<TransactionSMSViewModel>
@{

}
<div class="table-responsive table-default">
    <table class="table table-nowrap">
        <thead>
            <tr class="bg-main2">
                <th class="mfp-hide">STT</th>
                <th class="mfp-hide" style="width:200px">Nội dung CK</th>
                <th class="mfp-hide">Tài khoản</th>
                <th class="mfp-hide text-right">Số tiền chuyển</th>
                <th class="mfp-hide">Mã đơn hàng</th>
                <th class="mfp-hide">Ngày nhận CK</th>
                <th class="mfp-hide">Ngày update đơn hàng</th>
                @*<th class="mfp-hide">Trạng thái</th>*@
            </tr>
        </thead>
        <tbody>
            @if (Model.ListData != null && Model.ListData.Count > 0)
            {
                var counter = (Model.CurrentPage - 1) * Model.PageSize;
                foreach (var item in Model.ListData)
                {
                    counter++;
                    <tr>
                        <td class="center mfp-hide">@counter</td>
                        <td class="mfp-hide text-break" style="width:200px">@item.MessageContent</td>
                        <td class="mfp-hide text-break">@item.BankName - @item.AccountNumber</td>
                        <td class="mfp-hide text-right">@String.Format("{0:n0}", item.Amount).Replace(',', '.')</td>
                        <td class="mfp-hide text-break">@item.OrderNo</td>
                        <td class="mfp-hide">@(item.ReceiveTimeStr) </td>
                        <td class="mfp-hide">@(item.CreatedTimeStr)</td>
                        @*<td class="@(item.StatusPush == false ? "red mfp-hide" : "mfp-hide")">
                            @item.StatusName

                        </td>*@
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@await Component.InvokeAsync("Paging", new
{
    pageModel = new Paging()
    {
        TotalRecord = Model.TotalRecord,
        TotalPage = Model.TotalPage,
        CurrentPage = Model.CurrentPage,
        PageSize = Model.PageSize,
        RecordName = "bản ghi",
        PageAction = "_log_transfer_money.OnPaging({0})"
    }
})