@{
    Layout = null;
    Entities.Models.HotelBooking booking = (Entities.Models.HotelBooking)ViewBag.HotelBooking;
    Entities.ViewModels.HotelESViewModel hotel = (Entities.ViewModels.HotelESViewModel)ViewBag.Hotel;
    Entities.ViewModels.ElasticSearch.UserESViewModel? user = (Entities.ViewModels.ElasticSearch.UserESViewModel?)ViewBag.User;
    bool is_order_manual = (bool)ViewBag.IsOrderManual;
    bool is_allow_to_edit = (bool)ViewBag.AllowToEdit;
}
<style>
    .stop-scrolling {
        height: 100%;
        overflow: hidden;
    }

    .hotel_service {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .giam_sl {
        min-width: 10px;
    }

    .qty_input {
        border: 0;
        font-weight: 700 !important;
        font-size: 14px !important;
        text-align: center;
        width: 26px !important;
        -webkit-appearance: none;
        margin: 0;
        -moz-appearance: textfield;
    }
        /* Chrome, Safari, Edge, Opera */
        .qty_input::-webkit-outer-spin-button,
        .qty_input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

    /* Firefox */
    .qty_input {
        -moz-appearance: textfield;
    }

    .minus-btn, .tang_sl {
        border: 0;
        background: #F1F5F9 !important;
        border-radius: 10px;
        width: 21px;
        height: 21px;
        color: #00264D !important;
        font-size: 18px;
        cursor: pointer;
        outline: 0;
    }

    .info-passenger {
        padding-top: 10px;
    }

    .servicemanual-hotel-numberOfPeople {
        min-height: 32px !important;
    }
    
</style>
@if (booking.Id > 0)
{
    <div class="modal fade hotel_service" id="AddHotelService" aria-modal="true" role="dialog" style="display: block;">
        <div class="modal-dialog" style="max-width: 95%;">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Sửa dịch vụ khách sạn</h4>
                    <button type="button" class="close" onclick="_order_detail_hotel.Close()">×</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form id="form_add_hotel_service" class="form_add_hotel_service" data-service-code="@(booking.ServiceCode==null?"":booking.ServiceCode)" data-booking-id="@booking.Id">

                        <div class="border pd10">
                            <div class="flex-auto mb15">
                                <div class="form-group hotel">
                                    <label class="lbl">Khách sạn <sup class="red">*</sup></label>
                                    <div class="wrap_input">

                                        <select class="select2 client-select" id="servicemanual-hotel-name" style="width:100% !important">
                                            <option value="@(hotel.hotelid)" selected="selected">@(hotel.name)</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group number-people" style="min-width: 100px;width: 100px;">
                                    <label class="lbl">Số người <sup class="red">*</sup></label>
                                    <p type="number" class="form-control servicemanual-hotel-numberOfPeople" data-toggle="collapse" href="#collapseGuest" id="servicemanual-hotel-numberOfPeople">
                                        @(booking.NumberOfAdult+booking.NumberOfChild+booking.NumberOfInfant)
                                    </p>
                                    <div class="wrap_input" style="position:absolute; background-color:white;">
                                        <div class="info-passenger collapse" id="collapseGuest">
                                            <div class="scrollbar-height" id="block_room_search_content">
                                                <div class="row">
                                                    <div class="col-4 text-center adult">
                                                        <div class="sl_giohang">
                                                            <div class="input-group-prepend">
                                                                <div class="giam_sl minus-btn">-</div>
                                                            </div>
                                                            <input type="number" class="qty_input" value="@booking.NumberOfAdult" min="0">
                                                            <div class="input-group-prepend">
                                                                <div class="tang_sl plus-btn">+</div>
                                                            </div>
                                                        </div>
                                                        <div class="color-gray txt_13">Người lớn</div>
                                                    </div>
                                                    <div class="col-4 text-center baby">
                                                        <div class="sl_giohang">
                                                            <div class="input-group-prepend">
                                                                <div class="giam_sl minus-btn">-</div>
                                                            </div>
                                                            <input type="number" class="qty_input" value="@booking.NumberOfChild" min="0">
                                                            <div class="input-group-prepend">
                                                                <div class="tang_sl plus-btn">+</div>
                                                            </div>
                                                        </div>
                                                        <div class="color-gray txt_13">Trẻ em <br>(4-12 tuổi)</div>
                                                    </div>
                                                    <div class="col-4 text-center infant">
                                                        <div class="sl_giohang">
                                                            <div class="input-group-prepend">
                                                                <div class="giam_sl minus-btn">-</div>
                                                            </div>
                                                            <input type="number" class="qty_input" value="@booking.NumberOfInfant" min="0">
                                                            <div class="input-group-prepend">
                                                                <div class="tang_sl plus-btn">+</div>
                                                            </div>
                                                        </div>
                                                        <div class="color-gray txt_13">Em bé <br>(0-4 tuổi)</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group number-hotel" style="min-width: 100px;width: 100px;">
                                    <label class="lbl">Số phòng <sup class="red">*</sup></label>
                                    <div class="wrap_input">
                                        <input type="number" max="100" min="1" class="form-control servicemanual-hotel-numberOfRooms" id="servicemanual-hotel-numberOfRooms" name="servicemanual-hotel-numberOfRooms" value="@booking.NumberOfRoom">
                                    </div>
                                </div>
                                <div class="form-group checkin-hotel" style="min-width: 150px;width: 150px;">
                                    <label class="lbl">Ngày Checkin <sup class="red">*</sup></label>
                                    <input id="servicemanual_hotel_checkin" class="form-control date servicemanual_hotel_checkin" type="text" name="servicemanual_hotel_date" value="@booking.ArrivalDate.ToString("dd/MM/yyyy")">
                                </div>
                                <div class="form-group checkout-hotel" style="min-width: 150px;width: 150px;">
                                    <label class="lbl">Ngày Checkout <sup class="red">*</sup></label>
                                    <input id="servicemanual_hotel_checkout" class="form-control date servicemanual_hotel_checkout" type="text" name="servicemanual_hotel_date" value="@booking.DepartureDate.ToString("dd/MM/yyyy")">

                                </div>
                                <div class="form-group operator" style="min-width: 200px;width: 200px;">
                                    <label class="lbl">Điều hành viên <sup class="red">*</sup></label>
                                    <div class="wrap_input">
                                        <select class="select2 main-staff-hotel-select" id="main-hotel-staff" style="width:100% !important">
                                            @if (user != null && user.id > 0)
                                            {
                                                <option value="@(user.id)" selected="selected">@(user.fullname + " - "+ user.email)</option>
                                            }

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-auto mb15" style=" justify-content: left;">
                                <div class="form-group other-amount" style="min-width: 200px;width: 200px; ">
                                    <label class="lbl" style="width: 100%;">Chi phí khác </label>
                                    <div class="wrap_input">
                                        <input id="servicemanual-hotel-other-amount" class="form-control currency text-right servicemanual-hotel-other-amount" type="text" name="servicemanual-hotel-other-amount" placeholder="Nhập chi phí khác" value="@(booking.TotalOthersAmount!=null ? ((double)booking.TotalOthersAmount).ToString("N0"):"0")">
                                    </div>
                                </div>
                                <div class="form-group discount" style="min-width: 200px;width: 200px;">
                                    <label class="lbl" style="width: 100%;">Hoa hồng CTV</label>
                                    <div class="wrap_input">
                                        <input id="servicemanual-hotel-discount" class="form-control currency text-right servicemanual-hotel-discount" type="text" name="servicemanual-hotel-discount" placeholder="Nhập chiết khấu" value="@(booking.TotalDiscount!=null ? ((double)booking.TotalDiscount).ToString("N0"):"0")">
                                    </div>
                                </div>
                            </div>
                            <div class="txt_14 bold mb10">Bảng kê dịch vụ phòng <small>(Đơn giá đã bao gồm thuế phí + Phí dịch vụ Adavigo)</small></div>
                            <div class="table-responsive table-gray" id="servicemanual_hotel_roomdiv">
                                <img src="/images/icons/loading.gif" style="width: 55px;height: 55px;margin-left: 10px;margin-bottom: 10px;" class="img_loading_summit coll">
                            </div>
                            <div class="txt_14 bold mb10">Bảng kê phụ thu, dịch vụ khác <small>(Đơn giá đã bao gồm thuế phí + Phí dịch vụ Adavigo)</small></div>
                            <div class="table-responsive table-gray" id="servicemanual_hotel_roompackagesdiv">
                                <img src="/images/icons/loading.gif" style="width: 55px;height: 55px;margin-left: 10px;margin-bottom: 10px;" class="img_loading_summit coll">

                            </div>
                            <div class="txt_14 bold mb10"></div>
                            <div class="table-responsive table-gray" id="servicemanual_hotel_total_amount_block">
                                <div class="row">
                                    <div class="col-6"></div>
                                    <div class="col-3 bold text-right">Tổng lợi nhuận dịch vụ: &nbsp;&nbsp;&nbsp;&nbsp;<strong class="service-manual-hotel-total-service-profit">0</strong></div>
                                    <div class="col-3 bold text-right">Tổng tiền dịch vụ:  &nbsp;&nbsp;&nbsp;&nbsp;<strong class="service-manual-hotel-total-service-amount">0</strong> </div>
                                </div>
                            </div>
                            <div id="servicemanual-hotel-contact-clientdiv">
                                <div class="bold txt_14 mb10">Ghi chú</div>
                                <div class="form-group">
                                    <textarea class="form-control service-hotel-note" style="height: 200px;">@(booking != null&& booking.Note!=null? booking.Note:"")</textarea>
                                </div>
                                <div class="bold mb15 txt_14">Danh sách đoàn</div>
                                <div class="table-responsive table-gray" id="servicemanual_hotel_guestdiv">
                                    <img src="/images/icons/loading.gif" style="width: 55px;height: 55px;margin-left: 10px;margin-bottom: 10px;" class="img_loading_summit coll">
                                </div>
                            </div>
                            <div class="attachment-file-block border pd10">
                                <img src="/images/icons/loading.gif" style="width: 55px;height: 55px;margin-left: 10px;margin-bottom: 10px;" class="img_loading_summit coll">
                            </div>
                            <div class="text-right" id="summit-button-div" style="margin-top: 10px;">
                                <div class="btn btn-default btn btn-default cancel" onclick="_order_detail_hotel.Close()">Hủy</div>
                                @if (is_order_manual && is_allow_to_edit)
                                {
                                    <div class="btn btn-default btn_summit_service_hotel" id="btn_summit_service_hotel" onclick="_order_detail_hotel.Summit()">Sửa</div>

                                }
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="modal fade hotel_service" id="AddHotelService" aria-modal="true" role="dialog" style="display: block;">
        <div class="modal-dialog" style="max-width: 95%;">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Thêm dịch vụ khách sạn</h4>
                    <button type="button" class="close" onclick="_order_detail_hotel.Close()">×</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form id="form_add_hotel_service" class="form_add_hotel_service">

                        <div class="border pd10">
                            <div class="flex-auto mb15">
                                <div class="form-group hotel">
                                    <label class="lbl">Khách sạn <sup class="red">*</sup></label>
                                    <div class="wrap_input">

                                        <select class="select2 client-select" id="servicemanual-hotel-name" style="width:100% !important">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group number-people" style="min-width: 100px;width: 100px;">
                                    <label class="lbl">Số người <sup class="red">*</sup></label>
                                    <p class="form-control servicemanual-hotel-numberOfPeople" data-toggle="collapse" href="#collapseGuest" id="servicemanual-hotel-numberOfPeople">
                                        1
                                    </p>
                                    <div class="wrap_input" style="position:absolute; background-color:white;">
                                        <div class="info-passenger collapse" id="collapseGuest">
                                            <div class="scrollbar-height" id="block_room_search_content">
                                                <div class="row">
                                                    <div class="col-4 text-center adult">
                                                        <div class="sl_giohang">
                                                            <div class="input-group-prepend">
                                                                <div class="giam_sl minus-btn">-</div>
                                                            </div>
                                                            <input type="number" class="qty_input" value="1" min="0">
                                                            <div class="input-group-prepend">
                                                                <div class="tang_sl plus-btn">+</div>
                                                            </div>
                                                        </div>
                                                        <div class="color-gray txt_13">Người lớn</div>
                                                    </div>
                                                    <div class="col-4 text-center baby">
                                                        <div class="sl_giohang">
                                                            <div class="input-group-prepend">
                                                                <div class="giam_sl minus-btn">-</div>
                                                            </div>
                                                            <input type="number" class="qty_input" value="0" min="0">
                                                            <div class="input-group-prepend">
                                                                <div class="tang_sl plus-btn">+</div>
                                                            </div>
                                                        </div>
                                                        <div class="color-gray txt_13">Trẻ em <br>(4-12 tuổi)</div>
                                                    </div>
                                                    <div class="col-4 text-center infant">
                                                        <div class="sl_giohang">
                                                            <div class="input-group-prepend">
                                                                <div class="giam_sl minus-btn">-</div>
                                                            </div>
                                                            <input type="number" class="qty_input" value="0" min="0">
                                                            <div class="input-group-prepend">
                                                                <div class="tang_sl plus-btn">+</div>
                                                            </div>
                                                        </div>
                                                        <div class="color-gray txt_13">Em bé <br>(0-4 tuổi)</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group number-hotel" style="min-width: 100px;width: 100px;">
                                    <label class="lbl">Số phòng <sup class="red">*</sup></label>
                                    <div class="wrap_input">
                                        <input type="number" max="100" min="1" class="form-control servicemanual-hotel-numberOfRooms" id="servicemanual-hotel-numberOfRooms" name="servicemanual-hotel-numberOfRooms" value="1">
                                    </div>
                                </div>
                                <div class="form-group checkin-hotel" style="min-width: 150px;width: 150px;">
                                    <label class="lbl">Ngày Checkin <sup class="red">*</sup></label>
                                    <input id="servicemanual_hotel_checkin" class="form-control date servicemanual_hotel_checkin" type="text" name="servicemanual_hotel_date" value="@DateTime.Now.ToString("dd/MM/yyyy")">
                                </div>
                                <div class="form-group checkout-hotel" style="min-width: 150px;width: 150px;">
                                    <label class="lbl">Ngày Checkout <sup class="red">*</sup></label>
                                    <input id="servicemanual_hotel_checkout" class="form-control date servicemanual_hotel_checkout" type="text" name="servicemanual_hotel_date" value="@DateTime.Now.AddDays(1).ToString("dd/MM/yyyy")">

                                </div>
                                <div class="form-group operator" style="min-width: 200px;width: 200px;">
                                    <label class="lbl">Điều hành viên <sup class="red">*</sup></label>
                                    <div class="wrap_input">
                                        <select class="select2 main-staff-hotel-select" id="main-hotel-staff" style="width:100% !important">
                                            <option value="@(user.id)" selected="selected">@(user.fullname + " - "+ user.email)</option>

                                        </select>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="flex-auto mb15" style=" justify-content: left;">
                                <div class="form-group other-amount" style="min-width: 200px;width: 200px;">
                                    <label class="lbl">Chi phí khác </label>
                                    <div class="wrap_input">
                                        <input id="servicemanual-hotel-other-amount" class="form-control currency text-right servicemanual-hotel-other-amount" type="text" name="servicemanual-hotel-other-amount" placeholder="Nhập chi phí khác" value="@(booking.TotalOthersAmount!=null ? ((double)booking.TotalOthersAmount).ToString("N0"):"0")">
                                    </div>
                                </div>
                                <div class="form-group discount" style="min-width: 200px;width: 200px;">
                                    <label class="lbl">Hoa hồng CTV</label>
                                    <div class="wrap_input">
                                        <input id="servicemanual-hotel-discount" class="form-control currency text-right servicemanual-hotel-discount" type="text" name="servicemanual-hotel-discount" placeholder="Nhập chiết khấu" value="@(booking.TotalDiscount!=null ? ((double)booking.TotalDiscount).ToString("N0"):"0")">
                                    </div>
                                </div>
                            </div>
                            <div class="txt_14 bold mb10">Bảng kê dịch vụ phòng <small>(Đơn giá đã bao gồm thuế phí + Phí dịch vụ Adavigo)</small></div>
                            <div class="table-responsive table-gray" id="servicemanual_hotel_roomdiv">
                                <img src="/images/icons/loading.gif" style="width: 55px;height: 55px;margin-left: 10px;margin-bottom: 10px;" class="img_loading_summit coll">
                            </div>
                            <div class="txt_14 bold mb10">Bảng kê phụ thu, dịch vụ khác <small>(Đơn giá đã bao gồm thuế phí + Phí dịch vụ Adavigo)</small></div>
                            <div class="table-responsive table-gray" id="servicemanual_hotel_roompackagesdiv">
                                <img src="/images/icons/loading.gif" style="width: 55px;height: 55px;margin-left: 10px;margin-bottom: 10px;" class="img_loading_summit coll">

                            </div>
                            <div class="txt_14 bold mb10"></div>
                            <div class="table-responsive table-gray" id="servicemanual_hotel_total_amount_block">
                                <div class="row">
                                    <div class="col-6"></div>
                                    <div class="col-3 bold text-right">Tổng lợi nhuận dịch vụ: &nbsp;&nbsp;&nbsp;&nbsp;<strong class="service-manual-hotel-total-service-profit">0</strong></div>
                                    <div class="col-3 bold text-right">Tổng tiền dịch vụ:  &nbsp;&nbsp;&nbsp;&nbsp;<strong class="service-manual-hotel-total-service-amount">0</strong> </div>
                                </div>
                            </div>
                            <div id="servicemanual-hotel-contact-clientdiv">
                                <div class="bold txt_14 mb10">Ghi chú</div>
                                <div class="form-group">
                                    <textarea class="form-control service-hotel-note" style="height: 200px;"></textarea>
                                </div>
                                <div class="bold mb15 txt_14">Danh sách đoàn</div>
                                <div class="table-responsive table-gray" id="servicemanual_hotel_guestdiv">
                                    <img src="/images/icons/loading.gif" style="width: 55px;height: 55px;margin-left: 10px;margin-bottom: 10px;" class="img_loading_summit coll">
                                </div>
                            </div>
                            <div class="attachment-file-block border pd10">
                                <img src="/images/icons/loading.gif" style="width: 55px;height: 55px;margin-left: 10px;margin-bottom: 10px;" class="img_loading_summit coll">
                            </div>
                            <div class="text-right" id="summit-button-div" style="margin-top: 10px;">
                                <div class="btn btn-default btn btn-default cancel" onclick="_order_detail_hotel.Close()">Hủy</div>
                                @if (is_order_manual && is_allow_to_edit)
                                {
                                    <div class="btn btn-default btn_summit_service_hotel" id="btn_summit_service_hotel" onclick="_order_detail_hotel.Summit()">Thêm</div>
                                }
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



}