@{
    Layout = null;
    var rooms = (List<Entities.Models.HotelBookingRooms>)ViewBag.Rooms;
    var guests = (List<Entities.Models.HotelGuest>)ViewBag.Guests;
    var types = (List<Entities.Models.AllCode>)ViewBag.Type;
    int index = 0;
    int index_room = 0;
}
<style>
    .hotel_service {
        overflow-y: scroll;
        overflow-x: hidden;
    }
</style>
<div class="form-group">
    <input type="file" style="display:none;" class="import_data_guest">
    <button type="button" class="btn upload size upload-file-guest-btn" onclick="$('.import_data_guest').trigger('click');">
        <svg class="icon-svg mr-1" width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.9414 15.0002C16.9414 15.5525 16.4937 16.0002 15.9414 16.0002H1.94141C1.38912 16.0002 0.941406 15.5525 0.941406 15.0002C0.941406 14.448 1.38912 14.0002 1.94141 14.0002H15.9414C16.4937 14.0002 16.9414 14.4479 16.9414 15.0002ZM5.39838 5.5433C5.65428 5.5433 5.91022 5.44567 6.10547 5.25039L7.94141 3.41445V11.1253C7.94141 11.6775 8.38912 12.1253 8.94141 12.1253C9.49369 12.1253 9.94141 11.6775 9.94141 11.1253V3.41445L11.7773 5.25039C12.1679 5.64092 12.801 5.64092 13.1916 5.25039C13.5821 4.85986 13.5821 4.22671 13.1916 3.83617L9.6485 0.293143C9.25797 -0.0973887 8.62481 -0.0973887 8.23428 0.293143L4.69125 3.83617C4.30072 4.22671 4.30072 4.85986 4.69125 5.25039C4.88653 5.44567 5.14244 5.5433 5.39838 5.5433Z" fill="#1254FF" />
        </svg>
        Upload danh sách khách nhanh (Khách sạn)
    </button>
    <a type="button" class="btn download size download_data_guest" href="/Template/import/template-danh-sach-doan-ks.xlsx" download>
        <svg class="icon-svg mr-1" width="9" height="13" viewBox="0 0 9 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.90141 8.64C7.58141 8.32 7.10141 8.32 6.78141 8.64L5.34141 10.08V0.8C5.34141 0.32 5.02141 0 4.54141 0C4.06141 0 3.74141 0.32 3.74141 0.8V10.08L2.30141 8.64C1.98141 8.32 1.50141 8.32 1.18141 8.64C0.861406 8.96 0.861406 9.44 1.18141 9.76L3.98141 12.56C4.14141 12.72 4.38141 12.8 4.54141 12.8C4.70141 12.8 4.94141 12.72 5.10141 12.56L7.90141 9.76C8.22141 9.44 8.22141 8.88 7.90141 8.64Z" fill="#1254FF" />
        </svg>
        Tải mẫu danh sách khách nhanh (Khách sạn)
    </a>
    <img src="/images/icons/loading.gif" style="width: 55px;height: 55px;margin-left: 10px;margin-bottom: 10px; display:none;" class="img_loading_upload_file coll">

</div>
<table class="table table-nowrap">
    <thead>
        <tr>
            <th>STT</th>
            <th style="min-width: 200px;">Họ và tên</th>
            <th style="min-width: 100px;">Phân loại hành khách</th>
            <th style="min-width: 100px;">Ngày sinh</th>
            <th style="min-width: 120px;">Loại phòng</th>
            <th style="min-width: 220px;">Ghi chú</th>
            <th style="width: 60px;"></th>
        </tr>
    </thead>
    <tbody id="servicemanual-hotel-guest">
        @if (guests.Count > 0)
        {
            foreach (var g in guests)
            {
                index_room = 0;
                <tr class="servicemanual-hotel-roomguest-row" data-guest-id="@g.Id">
                    <td class="servicemanual-hotel-roomguest-order">@(++index)</td>
                    <td><input type="text" class="form-control servicemanual-hotel-roomguest-name" name="servicemanual-hotel-roomguest-name" value="@g.Name"></td>
                    <td>
                        <select class="select2 servicemanual-hotel-roomguest-type servicemanual-hotel-roomguest-type-new" style="width: 100%;">
                            @if (g.HotelBookingRoomsId > 0)
                            {
                                @foreach (var t in types)
                                {
                                    if (g.Type == t.CodeValue)
                                    {
                                        <option value="@t.CodeValue" selected="selected">@t.Description</option>
                                    }
                                    else
                                    {

                                        <option value="@t.CodeValue">@t.Description</option>

                                    }

                                }
                            }
                        </select>
                    </td>
                    <td><input class="form-control datepicker-input servicemanual-hotel-roomguest-birthday" type="text" name="servicemanual-hotel-roomguest-birthday" value="@(g.Birthday!=null ?((DateTime)g.Birthday).ToString("dd/MM/yyyy"):"")"></td>
                    <td>
                        <select class="select2 servicemanual-hotel-roomguest-roomselect" style="width: 100%;">
                            @if ( g.HotelBookingRoomsId > 0)
                            {
                                @foreach (var r in rooms)
                                {
                                    if (g.HotelBookingRoomsId == r.Id)
                                    {
                                        <option value="@(++index_room)" selected="selected">Phòng @index_room - @r.RoomTypeName</option>
                                        break;
                                    }
                                    else { index_room++; }

                                }
                            }
                        </select>
                    </td>
                    <td class="text-right"><input type="text" class="form-control servicemanual-hotel-roomguest-note" value="@g.Note"></td>
                    <td>
                        <a class="fa fa-plus-circle green" href="javascript:;" onclick="_order_detail_hotel.AddHotelRoomGuest();"></a>
                        <a class="red fa fa-times" href="javascript:;" onclick="_order_detail_hotel.DeleteHotelGuest($(this));"></a>
                    </td>
                </tr>

            }

        }

        <tr id="servicemanual-hotelguest-total-summary">
            <td></td>
            <td colspan="4">
                <div class="row">
                    <div class="col-md-9">
                        <a href="javascript:;" onclick="_order_detail_hotel.AddHotelRoomGuest()" class="blue ml-2 mb10"><i class="fa fa-plus-circle green"></i> Thêm thông tin thành viên</a>
                    </div>
                </div>
            </td>
            <td></td>
        </tr>

    </tbody>
</table>