@using Entities.Models
@using Entities.ViewModels;
@{
    var orderStatus = (List<AllCode>)ViewBag.orderStatus;
    var PAYMENT_STATUS = (List<AllCode>)ViewBag.PAYMENT_STATUS;
    var Service_STATUS = (List<AllCode>)ViewBag.Service_STATUS;
    var Service = (List<OrderServiceViewModel>)ViewBag.Service;
    var Order = (Order)ViewBag.Order;
    var stt = 1;

}
<style>
    .white-popup {
        max-width: 600px !important;
    }
</style>
@if (Order != null)
{
    <div class="container">
        <div class="">
            <input id="OrderId" value="@Order.OrderId" style="display:none;" />
            <div class="mr-2 mb10"><strong>@Order.OrderNo</strong> </div>
            <div class="grid  gap10 mb20">
                <div class="grid-item border">

                    <div class="col-md-6 mb10"><label class="lbl mt5 mb0">Trạng thái đơn hàng </label></div>
                    <div class="col-md-12 mb10">
                        <select class="select2 form-control" name="" id="OrderStatus" style="width: 100%;">
                            @foreach (var item2 in orderStatus)
                            {
                                if (Order.OrderStatus == item2.CodeValue)
                                {
                                    <option selected value="@item2.CodeValue">@item2.Description</option>
                                }
                                else
                                {
                                    <option value="@item2.CodeValue">@item2.Description</option>
                                }

                            }
                        </select>
                    </div>

                </div>

                <div class="grid-item border">
                    <div class="col-md-6 mb10"><label class="lbl mt5 mb0">Trạng thái thanh toán</label></div>
                    <div class="col-md-12 mb10">
                        <select class="select2 form-control" name="" id="PaymentStatus" style="width: 100%; ">
                            @foreach (var item2 in PAYMENT_STATUS)
                            {
                                if (Order.PaymentStatus == item2.CodeValue)
                                {
                                    <option selected value="@item2.CodeValue">@item2.Description</option>
                                }
                                else
                                {
                                    <option value="@item2.CodeValue">@item2.Description</option>
                                }

                            }
                        </select>
                    </div>

                </div>
            </div>
        </div>
    </div>
    @if (Service != null && Service.Count > 0)
    {
        <div class="grid grid-don-hang gap10 mb20">
            <div class="grid-item border">
                <div class="form-default3 pd10">
                    <div>
                        <table class="table table-nowrap">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Loại dịch vụ</th>
                                    <th>Trạng thái dịch vụ</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Service)
                                {
                                    <tr>
                                        <td class="servicemanual-policy-package">@(stt++)</td>
                                        <td>@item.Type</td>

                                        @switch (item.Type)
                                        {
                                            case "Vé máy bay":
                                                {
                                                    <td class="SetService-fly-row">
                                                        <input class="flyServiceid" value="@item.ServiceId" style="display:none;" />
                                                        <select class="select2 form-control flyStatus"  style="width: 100%;">
                                                            @foreach (var item2 in Service_STATUS)
                                                            {
                                                                if (item.Status == item2.CodeValue)
                                                                {
                                                                    <option selected value="@item2.CodeValue">@item2.Description</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item2.CodeValue">@item2.Description</option>
                                                                }

                                                            }
                                                        </select>
                                                    </td>
                                                }
                                                break;
                                            case "Vinwonder":
                                                {
                                                    <td class="SetService-Vin-row">
                                                        <input class="VinServiceid" value="@item.ServiceId" style="display:none;" />
                                                        <select class="select2 form-control VinStatus"  style="width: 100%;">
                                                            @foreach (var item2 in Service_STATUS)
                                                            {
                                                                if (item.Status == item2.CodeValue)
                                                                {
                                                                    <option selected value="@item2.CodeValue">@item2.Description</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item2.CodeValue">@item2.Description</option>
                                                                }

                                                            }
                                                        </select>
                                                    </td>
                                                }
                                                break;
                                            case "Tour":
                                                {
                                                    <td class="SetService-Tour-row">
                                                        <input class="TourServiceid" value="@item.ServiceId" style="display:none;" />
                                                        <select class="select2 form-control TourStatus"  style="width: 100%; ">
                                                            @foreach (var item2 in Service_STATUS)
                                                            {
                                                                if (item.Status == item2.CodeValue)
                                                                {
                                                                    <option selected value="@item2.CodeValue">@item2.Description</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item2.CodeValue">@item2.Description</option>
                                                                }

                                                            }
                                                        </select>
                                                    </td>
                                                }
                                                break;
                                            case "Khách sạn":
                                                {
                                                    <td class="SetService-Hotel-row">
                                                        <input class="HotelServiceid" value="@item.ServiceId" style="display:none;" />
                                                        <select class="select2 form-control HotelStatus"  style="width: 100%;">
                                                            @foreach (var item2 in Service_STATUS)
                                                            {
                                                                if (item.Status == item2.CodeValue)
                                                                {
                                                                    <option selected value="@item2.CodeValue">@item2.Description</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item2.CodeValue">@item2.Description</option>
                                                                }

                                                            }
                                                        </select>
                                                    </td>
                                                }
                                                break;
                                            case "Dịch vụ khác":
                                                {
                                                    <td class="SetService-Other-row">
                                                        <input class="OtherServiceid" value="@item.ServiceId" style="display:none;" />
                                                        <select class="select2 form-control OtherStatus"  style="width: 100%; ">
                                                            @foreach (var item2 in Service_STATUS)
                                                            {
                                                                if (item.Status == item2.CodeValue)
                                                                {
                                                                    <option selected value="@item2.CodeValue">@item2.Description</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item2.CodeValue">@item2.Description</option>
                                                                }

                                                            }
                                                        </select>
                                                    </td>
                                                }
                                                break;

                                        }


                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="text-center" style="margin-top: 20px; margin-bottom: 20px;">
        <button type="submit" class="btn btn-default btn btn-default cancel" onclick="$.magnificPopup.close();">Bỏ qua</button>
        <button type="submit" class="btn btn-default" onclick="_orderDetail.UpdateOrderandService('@Order.OrderNo',@Order.OrderId)" style="background: #5cb566 !important;">Đồng ý</button>
    </div>
}
