@{
    Layout = null;
}
@using Entities.Models
@using Entities.ViewModels.Funding
@model SupplierViewModel

<form id="form_supplier">
    <div class="row row_min">
        <div class="grid-item @(Model.SupplierId > 0 ? "col-md-12" : "col-md-6")">
            <div class="border mb20">
                <div class="lb-form">Thông tin cơ bản</div>
                <div class="pd10">
                    <div class="form-group">
                        <label class="lbl">Tên nhà cung cấp <sup class="red">*</sup></label>
                        <div class="wrap_input">
                            <input type="hidden" asp-for="@Model.SupplierId" />
                            <input type="text" class="form-control" asp-for="@Model.FullName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="lbl">Điện thoại</label>
                        <div class="wrap_input">
                            <input type="text" class="form-control" asp-for="@Model.Phone" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="lbl">Email</label>
                        <div class="wrap_input">
                            <input type="text" class="form-control" asp-for="@Model.Email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="lbl">Địa chỉ</label>
                        <div class="wrap_input">
                            <input type="text" class="form-control" asp-for="@Model.Address" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.SupplierId == 0)
        {
            <div class="grid-item col-md-6">
                <div class="border mb20">
                    <div class="lb-form">Thông tin liên hệ</div>
                    <div class="pd10">
                        <div class="form-group">
                            <label class="lbl">Họ tên</label>
                            <div class="wrap_input">
                                <input type="text" class="form-control" name="ContactName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="lbl">Điện thoại</label>
                            <div class="wrap_input">
                                <input type="text" class="form-control" name="ContactPhone" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="lbl">Email</label>
                            <div class="wrap_input">
                                <input type="text" class="form-control" name="ContactEmail" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="lbl">Chức vụ</label>
                            <div class="wrap_input">
                                <input type="text" class="form-control" name="ContactAddress" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border mb20">
                    <div class="lb-form">Thông tin thanh toán</div>
                    <div class="pd10">
                        <div class="form-group">
                            <label class="lbl">Số tài khoản</label>
                            <div class="wrap_input">
                                <input type="text" class="form-control" name="BankAccountNumber" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="lbl">Chủ tài khoản</label>
                            <div class="wrap_input">
                                <input type="text" class="form-control" name="BankAccountName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="lbl">Ngân hàng</label>
                            <div class="wrap_input">
                                <input type="text" class="form-control" name="BankId" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="lbl">Chi nhánh</label>
                            <div class="wrap_input">
                                <input type="text" class="form-control" name="BankBranch" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</form>

<div class="text-right">
    <button type="button" class="btn btn-default btn btn-default cancel" data-dismiss="modal">Bỏ qua</button>
    @if (Model.SupplierId > 0)
    {
        <button type="button" class="btn btn-default" onclick="_supplier_service.OnAdd()">Cập nhật</button>
    }
    else
    {
        <button type="button" class="btn btn-default" onclick="_supplier_service.OnAdd()">Thêm mới</button>
    }
</div>
