@{
    Layout = null;
}
@using Entities.ViewModels
@using Entities.ViewModels.Funding
@using Utilities
@model GenericViewModel<SupplierRoomGridModel>

<div class="table-responsive table-default table-gray">
    <table class="table table-nowrap">
        <thead>
            <tr>
                <th style="min-width: 30px;">STT</th>
                <th>ID</th>
                <th style="min-width: 250px;">Hạng phòng</th>
                <th>Loại giường</th>
                <th>Số lượng</th>
                <th>Trạng thái</th>
                <th style="min-width: 100px;">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.ListData != null && Model.ListData.Count > 0)
            {
                var counter = (Model.CurrentPage - 1) * Model.PageSize;
                foreach (var item in Model.ListData)
                {
                    counter++;
                    <tr>
                        <td>@counter</td>
                        <td>@item.Id</td>
                        <td>
                            <div class="blue txt_14">@item.TypeOfRoom</div>
                            <small>Diện tích: (@item.RoomArea m²)</small>
                            <small>Số khách tối đa: @item.NumberOfAdult (NL) - @item.NumberOfChild (TE)</small>
                        </td>
                        <td>@item.BedRoomTypeName</td>
                        <td>@item.NumberOfRoom.ToString("N0")</td>
                        <td>
                            @(item.IsActive == 1 ? "Kích hoạt":"Tạm ngừng")
                        </td>
                        <td>
                            <a href="#" class="blue" title="Chỉnh sửa"
                       onclick="_supplier_detail.ShowUpsertRoom('@item.Id')">
                                <i class="fa fa-edit"></i>
                            </a> &nbsp;&nbsp;
                            <a href="#" class="blue" title="Copy"
                       onclick="_supplier_detail.ShowCopyRoom('@item.Id')">
                                <i class="fa fa-copy"></i>
                            </a> &nbsp;&nbsp;
                            <a href="#" class="red" title="Xóa"
                       onclick="_supplier_detail.DeleteRoom('@item.Id')">
                                <i class="fa fa-times"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="13" class="text-center">
                        <div class="search-null center mt40 mb40">
                            <div class="mb24">
                                <img src="/images/graphics/icon-search.png" alt="">
                            </div>
                            <h2 class="title txt_24">Không tìm thấy kết quả</h2>
                            <div class="gray">Chúng tôi không tìm thấy thông tin mà bạn cần, vui lòng thử lại</div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@await Component.InvokeAsync("Paging", new
{
    pageModel = new Paging()
    {
        TotalRecord = Model.TotalRecord,
        TotalPage = Model.TotalPage,
        CurrentPage = Model.CurrentPage,
        PageSize = Model.PageSize,
        RecordName = "kết quả lọc",
        PageAction = "_supplier_detail.PagingRoom({0})"
    }
})
