@{
    Layout = null;
}
@using Entities.ViewModels
@using Entities.ViewModels.SupplierConfig
@using Utilities
@model GenericViewModel<SupplierOrderGridViewModel>

<div class="table-responsive table-default table-gray">
    <table class="table table-nowrap">
        <thead>
            <tr>
                <th style="min-width: 30px;">STT</th>
                <th>Mã dịch vụ</th>
                <th>Số tiền</th>
                <th>Đã thanh toán</th>
                <th>Chưa thanh toán</th>
                <th>Mã đơn hàng</th>
                <th>Ngày tạo</th>
                <th>Nhân viên bán</th>
                <th>Điều hành</th>
                <th>Trạng thái</th>
                <th>Công nợ với nhà cung cấp</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.ListData != null && Model.ListData.Count > 0)
            {
                var counter = (Model.CurrentPage - 1) * Model.PageSize;
                foreach (var item in Model.ListData)
                {
                    counter++;
                    <tr>
                        <td>@counter</td>
                        <td>@item.ServiceCode</td>
                        <td>
                            @(item.Amount.HasValue ? item.Amount.Value.ToString("N0") : string.Empty)
                        </td>
                        <td>
                            @(item.AmountPay.HasValue ? item.AmountPay.Value.ToString("N0") : string.Empty)
                        </td>
                        <td>
                            @if (item.AmountPay.HasValue)
                            {
                                <span>@(item.Amount.HasValue ? (item.Amount.Value -item.AmountPay.Value).ToString("N0") : string.Empty)</span>
                            }
                            else
                            {
                                <span>@(item.Amount.HasValue ? item.Amount.Value.ToString("N0") : string.Empty)</span>
                            }
                        </td>
                        <td>
                            @item.OrderNo
                        </td>
                        <td>
                            @item.StartDate.ToString("dd/MM/yyyy HH:mm")
                        </td>
                        <td>
                            @item.SalerName
                        </td>
                        <td>
                            N/A
                        </td>
                        <td>
                            N/A
                        </td>
                        <td>
                            N/A
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="13" class="text-center">
                        <div class="search-null center mt40 mb40">
                            <div class="mb24">
                                <img src="/images/graphics/icon-search.png" alt="">
                            </div>
                            <h2 class="title txt_24">Không tìm thấy kết quả</h2>
                            <div class="gray">Chúng tôi không tìm thấy thông tin mà bạn cần, vui lòng thử lại</div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@await Component.InvokeAsync("Paging", new
{
    pageModel = new Paging()
    {
        TotalRecord = Model.TotalRecord,
        TotalPage = Model.TotalPage,
        CurrentPage = Model.CurrentPage,
        PageSize = Model.PageSize,
        RecordName = "kết quả lọc",
        PageAction = "_supplier_detail.PagingRoom({0})"
    }
})
