@using Entities.ViewModels
@using Entities.ViewModels.Report
@model GenericViewModel<DetailDepartmentBysaleViewModel>
@{
    int index = 0;

    if (Model != null && Model.ListData != null && Model.ListData.Count > 0)
    {
        index = (Model.CurrentPage - 1) * Model.PageSize;
    }
}
@if (Model.ListData == null)
{
    <div class="search-null center mb40">
        <div class="mb24">
            <img src="/images/graphics/icon-search.png" alt="">
        </div>
        <h2 class="title txt_24">Không tìm thấy kết quả</h2>
        <div class="gray">Chúng tôi không tìm thấy thông tin mà bạn cần, vui lòng thử lại</div>
    </div> }
else
{
    <style>
        a:hover {
            border-bottom: 1px solid #056BD3;
        }
        .white-popup {
            max-width: 800px !important;
        }
    </style>
    <div class="table-responsive table-default table-gray wrap_bg wrap_bg_no-padding mb20">
        <div id="list_data_sale" class="wrap_bg wrap_bg_no-padding mb20">
            <div class="row-main container mb10">
                <strong>Xuất báo cáo</strong>

                <button class="btn-search btn-default" type="button" onclick="_ReportDepartment.ExportDepartmentBysaler2(@ViewBag.saleid)" id="btnExport">
                    <i class="fa fa-file-excel-o" id="icon-export" title="Xuất excel">
                    </i>
                </button>
            </div>
            <div class="table-responsive table-default table-gray wrap_bg wrap_bg_no-padding">
                <table class="table table-nowrap">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Khách hàng</th>
                            <th>Số lượng đơn hàng</th>
                            <th style=" text-align: right;">Tổng doanh thu</th>
                            <th style=" text-align: right;">Tổng lợi nhuận</th>
                            <th style=" text-align: right;">Tỷ suất lợi nhuận (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListData)
                        {

                            <tr>
                                <td>@(++index)</td>
                                <td>@item.ClientName</td>
                                <td>@item.TotalOrder</td>
                                <td style="text-align: right;">@item.Amount.ToString("N0")</td>
                                <td style="text-align: right;">@item.Profit.ToString("N0")</td>
                                <td style="text-align: right;">@item.Percent.ToString("N2") %</td>
                            </tr>
                        }
                        @if (Model.ListData != null && Model.TotalRecord > Model.CurrentPage * Model.PageSize)
                        {
                            <tr id="view-more-tr">
                                <td colspan="12" style="text-align: -webkit-center;">
                                    <span id="report-detail-view-more" class="report-detail-view-more" onclick="_ReportDepartment.onloadSelectPageSize(@ViewBag.saleid )" style="font-size: 18px; color: blue;">Xem thêm ⇊</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}