@using Entities.ViewModels
@using Utilities.Contants
@using Entities.ViewModels.Report
@model GenericViewModel<DetailRevenueByDepartmentViewModel>
@{
    int index = 0;

    if (Model != null && Model.ListData != null && Model.ListData.Count > 0)
    {
        index = (Model.CurrentPage - 1) * Model.PageSize;
    }
}
@if (Model.ListData == null || Model.ListData.Count <= 0)
{
    <div class="search-null center mb40">
        <div class="mb24">
            <img src="/images/graphics/icon-search.png" alt="">
        </div>
        <h2 class="title txt_24">Không tìm thấy kết quả</h2>
        <div class="gray">Chúng tôi không tìm thấy thông tin mà bạn cần, vui lòng thử lại</div>
    </div> }
else
{
    <div class="wrap_bg wrap_bg_no-padding mb20">
        <div class="table-responsive table-default table-gray wrap_bg wrap_bg_no-padding  table-scroll">
            <table class="table table-nowrap">
                <thead>
                    <tr>
                        <th rowspan="2" style="width: 50px;">STT</th>
                        <th rowspan="2" style="width: 140px;">Khách hàng</th>
                        <th rowspan="2" style="width: 75px;text-align:right; ">Số lượng đơn hàng</th>
                        <th colspan="2" style="text-align:center">Tổng doanh thu (có VAT)</th>

                        <th rowspan="2" style="width: 100px; text-align: right;">Lợi nhuận (có VAT)</th>
                        @if (ViewBag.ServiceType == null)
                        {
                            <th colspan="3" style="text-align:center">Khách sạn (chưa VAT)</th>
                            <th colspan="3" style="text-align:center">Vé máy bay  (chưa VAT)</th>
                            <th colspan="3" style="text-align:center">Tour du lịch (chưa VAT)</th>
                            <th colspan="3" style="text-align:center">Dịch vụ khác (chưa VAT)</th>
                            <th colspan="3" style="text-align:center">VinWonder (chưa VAT)</th>
                        }
                        else
                        {
                            if (ViewBag.ServiceType.Contains(((int)ServicesType.VINHotelRent).ToString()))
                            {
                                <th colspan="3" style="text-align:center">Khách sạn (chưa VAT)</th>
                            }
                            if (ViewBag.ServiceType.Contains(((int)ServicesType.FlyingTicket).ToString()))
                            {
                                <th colspan="3" style="text-align:center">Vé máy bay  (chưa VAT)</th>
                            }
                            if (ViewBag.ServiceType.Contains(((int)ServicesType.Tourist).ToString()))
                            {
                                <th colspan="3" style="text-align:center">Tour du lịch (chưa VAT)</th>
                            }
                            if (ViewBag.ServiceType.Contains(((int)ServicesType.Other).ToString()) || ViewBag.ServiceType.Contains(((int)ServicesType.VehicleRent).ToString()))
                            {
                                <th colspan="3" style="text-align:center">Dịch vụ khác (chưa VAT)</th>
                            }
                            if (ViewBag.ServiceType.Contains(((int)ServicesType.VinWonder).ToString()))
                            {
                                <th colspan="3" style="text-align:center">VinWonder (chưa VAT)</th>
                            }
                        }


                    </tr>
                    <tr>
                        <th style="width: 100px; text-align: right;">Giá thu khách hàng</th>
                        <th style="width: 100px; text-align: right;">Giá thanh toán NCC</th>
                        @if (ViewBag.ServiceType == null)
                        {
                            <th style="width: 100px; text-align: right;">Doanh thu</th>
                            <th style="width: 100px; text-align: right;">Giá vốn</th>
                            <th style="width: 100px; text-align: right;">Lợi nhuận</th>

                            <th style="width: 100px; text-align: right;">Doanh thu</th>
                            <th style="width: 100px; text-align: right;">Giá vốn</th>
                            <th style="width: 100px; text-align: right;">Lợi nhuận</th>

                            <th style="width: 100px; text-align: right;">Doanh thu</th>
                            <th style="width: 100px; text-align: right;">Giá vốn</th>
                            <th style="width: 100px; text-align: right;">Lợi nhuận</th>

                            <th style="width: 100px; text-align: right;">Doanh thu</th>
                            <th style="width: 100px; text-align: right;">Giá vốn</th>
                            <th style="width: 100px; text-align: right;">Lợi nhuận</th>


                            <th style="width: 100px; text-align: right;">Doanh thu</th>
                            <th style="width: 100px; text-align: right;">Giá vốn</th>
                            <th style="width: 100px; text-align: right;">Lợi nhuận</th>
                        }
                        else
                        {
                            @if (ViewBag.ServiceType.Contains(((int)ServicesType.VINHotelRent).ToString()))
                            {
                                <th style="width: 100px; text-align: right;">Doanh thu</th>
                                <th style="width: 100px; text-align: right;">Giá vốn</th>
                                <th style="width: 100px; text-align: right;">Lợi nhuận</th>
                            }
                            @if (ViewBag.ServiceType.Contains(((int)ServicesType.FlyingTicket).ToString()))
                            {
                                <th style="width: 100px; text-align: right;">Doanh thu</th>
                                <th style="width: 100px; text-align: right;">Giá vốn</th>
                                <th style="width: 100px; text-align: right;">Lợi nhuận</th>
                            }
                            @if (ViewBag.ServiceType.Contains(((int)ServicesType.Tourist).ToString()))
                            {
                                <th style="width: 100px; text-align: right;">Doanh thu</th>
                                <th style="width: 100px; text-align: right;">Giá vốn</th>
                                <th style="width: 100px; text-align: right;">Lợi nhuận</th>
                            }
                            @if (ViewBag.ServiceType.Contains(((int)ServicesType.Other).ToString()) || ViewBag.ServiceType.Contains(((int)ServicesType.VehicleRent).ToString()))
                            {
                                <th style="width: 100px; text-align: right;">Doanh thu</th>
                                <th style="width: 100px; text-align: right;">Giá vốn</th>
                                <th style="width: 100px; text-align: right;">Lợi nhuận</th>
                            }
                            @if (ViewBag.ServiceType.Contains(((int)ServicesType.VinWonder).ToString()))
                            {
                                <th style="width: 100px; text-align: right;">Doanh thu</th>
                                <th style="width: 100px; text-align: right;">Giá vốn</th>
                                <th style="width: 100px; text-align: right;">Lợi nhuận</th>
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListData)
                    {

                    <tr>
                        <td>@(++index)</td>
                        <td>@item.ClientName</td>
                        <td style="text-align: right;">@item.TotalOrder</td>
                        <td style="text-align: right;">@item.Amount.ToString("N0")</td>
                        <td style="text-align: right;">@item.Price.ToString("N0")</td>

                        <td style="text-align: right;">@item.Profit.ToString("N0")</td>
                        @if (ViewBag.ServiceType == null)
                        {
                            <td style="text-align: right;">@item.HotelBookingAmount.ToString("N0")</td>
                            <td style="text-align: right;">@item.HotelBookingPrice.ToString("N0")</td>
                            <td style="text-align: right;">@item.HotelBookingProfit.ToString("N0")</td>

                            <td style="text-align: right;">@item.FlyBookingAmount.ToString("N0")</td>
                            <td style="text-align: right;">@item.FlyBookingPrice.ToString("N0")</td>
                            <td style="text-align: right;">@item.FlyBookingProfit.ToString("N0")</td>

                            <td style="text-align: right;">@item.TourAmount.ToString("N0")</td>
                            <td style="text-align: right;">@item.TourPrice.ToString("N0")</td>
                            <td style="text-align: right;">@item.TourProfit.ToString("N0")</td>

                            <td style="text-align: right;">@item.OtherBookingAmount.ToString("N0")</td>
                            <td style="text-align: right;">@item.OtherBookingPrice.ToString("N0")</td>
                            <td style="text-align: right;">@item.OtherBookingProfit.ToString("N0")</td>

                            <td style="text-align: right;">@item.VinWonderAmount.ToString("N0")</td>
                            <td style="text-align: right;">@item.VinWonderPrice.ToString("N0")</td>
                            <td style="text-align: right;">@item.VinWonderProfit.ToString("N0")</td>
                        }
                        else
                        {
                            @if (ViewBag.ServiceType.Contains(((int)ServicesType.VINHotelRent).ToString()))
                            {
                                <td style="text-align: right;">@item.HotelBookingAmount.ToString("N0")</td>
                                <td style="text-align: right;">@item.HotelBookingPrice.ToString("N0")</td>
                                <td style="text-align: right;">@item.HotelBookingProfit.ToString("N0")</td>
                            }
                            @if (ViewBag.ServiceType.Contains(((int)ServicesType.FlyingTicket).ToString()))
                            {
                                <td style="text-align: right;">@item.FlyBookingAmount.ToString("N0")</td>
                                <td style="text-align: right;">@item.FlyBookingPrice.ToString("N0")</td>
                                <td style="text-align: right;">@item.FlyBookingProfit.ToString("N0")</td>
                            }
                            @if (ViewBag.ServiceType.Contains(((int)ServicesType.Tourist).ToString()))
                            {
                                <td style="text-align: right;">@item.TourAmount.ToString("N0")</td>
                                <td style="text-align: right;">@item.TourPrice.ToString("N0")</td>
                                <td style="text-align: right;">@item.TourProfit.ToString("N0")</td>
                            }
                            @if (ViewBag.ServiceType.Contains(((int)ServicesType.Other).ToString()) || ViewBag.ServiceType.Contains(((int)ServicesType.VehicleRent).ToString()))
                            {
                                <td style="text-align: right;">@item.OtherBookingAmount.ToString("N0")</td>
                                <td style="text-align: right;">@item.OtherBookingPrice.ToString("N0")</td>
                                <td style="text-align: right;">@item.OtherBookingProfit.ToString("N0")</td>
                            }
                            @if (ViewBag.ServiceType.Contains(((int)ServicesType.VinWonder).ToString()))
                            {

                                <td style="text-align: right;">@item.VinWonderAmount.ToString("N0")</td>
                                <td style="text-align: right;">@item.VinWonderPrice.ToString("N0")</td>
                                <td style="text-align: right;">@item.VinWonderProfit.ToString("N0")</td>
                            }
                        }

                    </tr>
                    }

                </tbody>
            </table>
        </div>

        @await Component.InvokeAsync("PagingNew", new
        {
            pageModel = new Paging()
            {
                TotalRecord = Model.TotalRecord,
                TotalPage = Model.TotalPage,
                CurrentPage = Model.CurrentPage,
                PageSize = Model.PageSize,
                RecordName = "kết quả",
                PageAction = "_ReportDepartment.OnPaging({0})",
                PageSelectPageSize = "_ReportDepartment.onSelectPageSize()",
            }
        })
    </div>}