@{ ViewData["Title"] = "Danh sách nạp quỹ";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
@using Entities.Models
@{
    var allCode_SERVICE_TYPE = (List<AllCode>)ViewBag.allCode_SERVICE_TYPE;
    var allCode_PAYMENT_TYPE = (List<AllCode>)ViewBag.allCode_PAYMENT_TYPE;
    var allCode_DEPOSITHISTORY_TYPE = (List<AllCode>)ViewBag.allCode_DEPOSITHISTORY_TYPE;
    var allCode_DEPOSIT_STATUS = (List<AllCode>)ViewBag.allCode_DEPOSIT_STATUS;
}

<section style=" overflow-x: hidden;">
    <div class="main-container">
        <div class="row-main container">
            <h2 class="txt_18 bold mb20">Danh sách nạp quỹ</h2>
            <div class="flex fillter-donhang">
                <div class="form-group mb10 mr-2">
                    <input type="text" class="form-control" id="transactionNo" placeholder="Mã giao dịch" style="        width: 200px;">
                </div>
                <div class="form-group mb10">
                    <div class="multiple-select form-group mb10 mr-2" style="width: 200px;    margin-top: 10px;">
                        <div class="select-btn select-btn-service-type" id="select-btn-service-type">
                            <span class="btn-text-service-type">Tất cả loại quỹ</span>
                            <span class="arrow-dwn">
                                <i class="fa fa-angle-down"></i>
                            </span>
                        </div>

                        <ul class="list-items" id="list-item-service">
                            @foreach (var item in allCode_SERVICE_TYPE)
                            {
                                <li class="item item-service-type" id="service_type_@item.CodeValue">
                                    <span class="checkbox" id="checkbox_service_type_@item.CodeValue">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <span class="item-text" id="service_type_text_@item.CodeValue">@item.Description</span>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="form-group mb10">
                    <div class="multiple-select form-group mb10 mr-2" style=" width: 200px;    margin-top: 10px;">
                        <div class="select-btn select-btn-trans-type" id="select-btn-trans-type">
                            <span class="btn-text-trans-type">Tất cả loại giao dịch</span>
                            <span class="arrow-dwn">
                                <i class="fa fa-angle-down"></i>
                            </span>
                        </div>

                        <ul class="list-items" id="list-item-trans">
                            @foreach (var item in allCode_DEPOSITHISTORY_TYPE)
                            {
                                <li class="item item-trans-type" id="trans_type_@item.CodeValue">
                                    <span class="checkbox" id="checkbox_trans_type_@item.CodeValue">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <span class="item-text" id="trans_type_text_@item.CodeValue">@item.Description</span>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="form-group mb10">
                    <div class="multiple-select form-group mb10 ">
                        <div class="select-btn select-btn-payment-type" style="        width: 220px;        margin-top: 10px;" id="select-btn-payment-type">
                            <span class="btn-text-payment-type">Tất cả hình thức thanh toán</span>
                            <span class="arrow-dwn">
                                <i class="fa fa-angle-down"></i>
                            </span>
                        </div>

                        <ul class="list-items" id="list-item-payment">
                            @foreach (var item in allCode_PAYMENT_TYPE)
                            {
                                <li class="item item-payment-type" id="payment_type_@item.CodeValue">
                                    <span class="checkbox" id="checkbox_payment_type_@item.CodeValue">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <span class="item-text" id="payment_type_text_@item.CodeValue">@item.Description</span>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="form-group mb10 mr-2" style=" margin-left: 30px;">
                    <div class="datepicker-wrap" style="width:100%">
                        <input class="form-control date text-left filter_date_daterangepicker" id="filter_date_create_daterangepicker" type="text"
                               name="datetimeCreate" style="        min-width: 200px !important" placeholder="Ngày giao dịch" />
                    </div>
                </div>
                <div class="form-group mb10 mr-2" style="min-width: 200px;">
                    @*<input type="text" class="form-control token-input-input-token" id="token-input-user-create" placeholder="Người tạo" style="width: 200px; height: 30px;">*@
                    <select class="select2 client-select main-staff-select" id="createdBy" multiple="multiple" style="width:100% !important">
                    </select>
                </div>
                <div class="form-group mb10 mr-2" style="min-width: 200px;">
                    @*<input type="text" class="form-control token-input-input-token" id="token-input-user-approve" placeholder="Người duyệt" style="width: 200px; height: 30px;">*@
                    <select class="select2 client-select main-staff-select" id="approverBy" multiple="multiple" style="width:100% !important">
                    </select>
                </div>
                <div class="form-group mb10 mr-2">
                    <div class="datepicker-wrap" style="width:100%">
                        <input class="form-control date text-left filter_date_daterangepicker" id="filter_date_aprrove_daterangepicker" type="text"
                               name="datetimeApprove" style="min-width: 200px !important" placeholder="Ngày duyệt" />
                    </div>
                </div>
                <div class="form-group mb10 mr-2">
                    <select class="select2" style="width: 200px; height: 34px ;" id="status">
                        <option value="-1">Tất cả trạng thái</option>
                        @foreach (var item in allCode_DEPOSIT_STATUS)
                        {
                            <option value="@item.CodeValue">@item.Description</option>
                        }
                    </select>
                </div>
                <div class="row-main-head mb10 mr-2 mfp-hide">
                    <div class="down-up">
                        <a class="btn btn-default onclick" href="javascript:;">
                            <i class="fa fa-bars"></i>
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <div class="form-down" style="display: none;">
                            <label class="check-list mb10 mr25">
                                <input type="checkbox" onclick="_deposit_hisoty_service.changeSetting(1)" class="checkbox-tb-column"
                                       data-id="1" id="sttDisplay">
                                <span class="checkmark"></span>
                                STT
                            </label>
                            <label class="check-list mb10 mr25">
                                <input type="checkbox" onclick="_deposit_hisoty_service.changeSetting(2)" class="checkbox-tb-column"
                                       data-id="2" id="transNoDisplay">
                                <span class="checkmark"></span>
                                Mã giao dịch
                            </label>
                            <label class="check-list mb10 mr25">
                                <input type="checkbox" onclick="_deposit_hisoty_service.changeSetting(3)" class="checkbox-tb-column"
                                       data-id="3" id="titleDisplay">
                                <span class="checkmark"></span>
                                Tiêu đề
                            </label>
                            <label class="check-list mb10 mr25">
                                <input type="checkbox" onclick="_deposit_hisoty_service.changeSetting(4)" class="checkbox-tb-column"
                                       data-id="4" id="transTypeDisplay">
                                <span class="checkmark"></span>
                                Loại quỹ
                            </label>
                            <label class="check-list mb10 mr25">
                                <input type="checkbox" onclick="_deposit_hisoty_service.changeSetting(5)" class="checkbox-tb-column"
                                       data-id="5" id="priceDisplay">
                                <span class="checkmark"></span>
                                Số tiền nạp
                            </label>
                            <label class="check-list mb10 mr25">
                                <input type="checkbox" onclick="_deposit_hisoty_service.changeSetting(6)" class="checkbox-tb-column"
                                       data-id="6" id="serviceTypeDisplay">
                                <span class="checkmark"></span>
                                Loại giao dịch
                            </label>
                            <label class="check-list mb10 mr25">
                                <input type="checkbox" onclick="_deposit_hisoty_service.changeSetting(7)" class="checkbox-tb-column"
                                       data-id="7" id="paymentTypeDisplay">
                                <span class="checkmark"></span>
                                Hình thức thanh toán
                            </label>
                            <label class="check-list mb10 mr25">
                                <input type="checkbox" onclick="_deposit_hisoty_service.changeSetting(8)" class="checkbox-tb-column"
                                       data-id="8" id="transactionDateDisplay">
                                <span class="checkmark"></span>
                                Ngày giao dịch
                            </label>
                            <label class="check-list mb10 mr25">
                                <input type="checkbox" onclick="_deposit_hisoty_service.changeSetting(9)" class="checkbox-tb-column"
                                       data-id="9" id="createdByDisplay">
                                <span class="checkmark"></span>
                                Người tạo
                            </label>
                            <label class="check-list mb10 mr25">
                                <input type="checkbox" onclick="_deposit_hisoty_service.changeSetting(10)" class="checkbox-tb-column"
                                       data-id="10" id="verifyDateDisplay">
                                <span class="checkmark"></span>
                                Ngày duyệt
                            </label>
                            <label class="check-list mb10 mr25">
                                <input type="checkbox" onclick="_deposit_hisoty_service.changeSetting(11)" class="checkbox-tb-column"
                                       data-id="11" id="approverDisplay">
                                <span class="checkmark"></span>
                                Người duyệt
                            </label>
                            <label class="check-list mb10 mr25">
                                <input type="checkbox" onclick="_deposit_hisoty_service.changeSetting(12)" class="checkbox-tb-column"
                                       data-id="12" id="statusDisplay">
                                <span class="checkmark"></span>
                                Trạng thái
                            </label>
                        </div>
                    </div>
                </div>
                <div class="mb10 mr-2">
                    <button class="btn-search btn-default" type="button" onclick="_deposit_hisoty_service.Export()" id="btnExport">
                        <i class="fa fa-file-excel-o" id="icon-export" title="Xuất excel">
                        </i>
                        @*<span>
                                <img src="/images/icons/clear.png" alt="Alternate Text" style="width: 70%;" />
                            </span>*@
                    </button>
                    <button type="button" class="btn btn-default bg-main" onclick="_deposit_hisoty_service.ActionSearch(1)">
                        <svg class="icon-svg" style="vertical-align: sub;">
                            <use xlink:href="/images/icons/icon.svg#search"></use>
                        </svg>
                        Tìm kiếm
                    </button>
                </div>
            </div>
            <div class="tab-default" style="border-bottom: 1px solid #CCCCCC;">
                <a href="javascript:;" onclick="_deposit_hisoty_service.OnSearchStatus(-1)" id="countSttAll" class="active">Tất cả (0)</a>
                @*<a href="javascript:;" onclick="_deposit_hisoty_service.OnSearchStatus(0)" id="countSttNew">Tạo mới (0)</a>*@
                <a href="javascript:;" onclick="_deposit_hisoty_service.OnSearchStatus(1)" id="countSttWaitPayment">Chờ thanh toán (0)</a>
                <a href="javascript:;" onclick="_deposit_hisoty_service.OnSearchStatus(2)" id="countSttWaitApprove">Chờ duyệt (0)</a>
                <a href="javascript:;" onclick="_deposit_hisoty_service.OnSearchStatus(3)" id="countSttApproved">Đã duyệt (0)</a>
                <a href="javascript:;" onclick="_deposit_hisoty_service.OnSearchStatus(4)" id="countSttReject">Từ chối (0)</a>
                <a href="javascript:;" onclick="_deposit_hisoty_service.OnSearchStatus(5)" id="countSttExpired">Hết hạn (0)</a>
            </div>

            <div id="grid_data" class="wrap_bg wrap_bg_no-padding mb20">
                <div class="col-xl-12 text-center" style="margin-top:200px">
                    <img src="~/images/icons/loading.gif" style=" width: 100px; height: 100px; display:none;"
                         id="imgLoading" />
                </div>
            </div>

        </div>
    </div>
</section>

@section scripts {
    <script type="text/javascript" src="~/js/zebra_datepicker.min.js"></script>
    <script type="text/javascript" src="~/modules/deposit_history.js?v=1"></script>
    <script>

        $('input[name="datetimeCreate"]').daterangepicker({
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear'
            }
        });
        $('input[name="datetimeApprove"]').daterangepicker({
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear'
            }
        });
        $('input[name="datetimeCreate"]').on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
            isPickerCreate = false;
        });
        $('input[name="datetimeApprove"]').on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
            isPickerApprove = false;
        });
        $('input[name="datetimeCreate"]').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
            isPickerCreate = true;
        });
        $('input[name="datetimeApprove"]').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
            isPickerApprove = true;
        });
    </script>
}
<style scoped>
    disabled-a-tag {
        pointer-events: none;
        cursor: default;
    }

    .multiple-select {
        position: relative;
        max-width: 200px !important;
        width: 100%;
    }

    .select2-selection .select2-selection--single {
        height: 34px !important;
    }

    .token-input-input-token input {
        background: #fff !important;
        width: 100% !important;
        font-size: 13px !important;
        height: 30px !important;
        line-height: 30px !important;
        border: 1px solid #ccc !important;
        padding: 0 5px !important;
        outline: 0 !important;
        box-shadow: none !important;
        color: #000 !important;
        border-radius: 0.25rem !important;
    }

    .row-main-head .down-up .form-down {
        width: 345px !important;
    }

    .form-control {
        background: #fff;
        width: 100%;
        font-size: 13px;
        height: 30px;
        line-height: 30px;
        border: 1px solid #ccc;
        padding: 0 5px;
        outline: 0;
        box-shadow: none;
        color: #000;
        border-radius: 0.25rem !important;
    }
</style>
