@using Utilities
@using Utilities.Contants
@using Entities.ViewModels.Invoice
@using Entities.ConfigModels
@using Microsoft.Extensions.Options
@inject IOptions<DomainConfig> domainConfig;
@model InvoiceRequestViewModel
@{
    var URL_STATIC_IMAGE = domainConfig.Value.ImageStatic;
}
@{ var ManageUser = (int)ViewBag.UserId; }
<style scoped>
    .white-popup {
        max-width: 1200px !important;
    }

    .content_lightbox .head {
        font-weight: 500 !important;
        font-size: 16px !important;
        margin-bottom: 20px !important;
    }

    .content_lightbox {
        padding: 20px !important;
    }

    .check-list1 {
        padding-left: 25px;
        position: unset;
        cursor: pointer;
        display: block;
        margin-bottom: 0;
    }

        .check-list1 .number {
            padding-right: 25px;
            padding-left: 0;
            display: inline-block;
        }

</style>

<div class="grid grid__1 grid-don-hang gap10 mb20">
    <input type="text" name="name" id="requestId" value="@Model.Id" style="display: none" />
    <input type="text" name="invoiceRequestNo" id="invoiceRequestNo" value="@Model.InvoiceRequestNo" style="display: none" />
    <input type="text" name="client_name_hide" id="client_name_hide" value="@Model.ClientName" style="display: none" />
    <input type="text" name="attachFile" id="attachFile" value="@Model.AttachFile" style="display: none" />
    <input type="text" name="Address" id="Address" value="@Model.Address" style="display: none" />
    <input type="text" name="TaxNo" id="TaxNo" value="@Model.TaxNo" style="display: none" />
    <input type="text" name="CompanyName" id="CompanyName" value="@Model.CompanyName" style="display: none" />
    <input type="text" name="OrderNo" id="OrderNo" value="@Model.OrderNo" style="display: none" />
    <input type="text" name="OrderId" id="OrderId" value="@Model.OrderId" style="display: none" />
    <div class="grid-item border">

        <div class="row row_min">
            <div class="col-md-8 form-group">
                <label class="lbl">Tên khách hàng <sup class="red">*</sup></label>
                <div class="wrap_input">
                    <select class="select2 client-select" id="client-select" style="width:100% !important" multiple="multiple"
                            onchange="_add_invoice_request.GetOrderListByClientId()" disabled>
                    </select>
                    <div class="validate-client-select"></div>
                </div>
            </div>
            <div class="col-md-4 form-group">
                <label class="lbl">Ngày dự kiến xuất <sup class="red">*</sup></label>
                <div class="wrap_input">
                    <input class="form-control datepicker-payment" type="text" name="planDate" id="planDate"
                           style="width: 100% !important;min-width: 200px !important;" asp-for="@Model.PlanDateViewStr ">
                    <div class="validate-planDate"></div>
                </div>
            </div>
            <div class="col-12 bold mb10 txt_14">Thông tin công ty cần xuất hóa đơn</div>
            <div class="col-md-3 form-group">
                <label class="lbl">Mã số thuế <sup class="red">*</sup></label>
                <div class="wrap_input">
                    <input type="text" class="form-control" id="taxtNo" maxlength="50" asp-for="@Model.TaxNo">
                    <div class="validate-taxtNo"></div>
                </div>
            </div>
            <div class="col-md-4 form-group">
                <label class="lbl">Tên công ty <sup class="red">*</sup></label>
                <div class="wrap_input">
                    <input type="text" class="form-control" id="companyName" maxlength="500" asp-for="@Model.CompanyName">
                    <div class="validate-companyName"></div>
                </div>
            </div>
            <div class="col-md-5 form-group">
                <label class="lbl">Địa chỉ  <sup class="red">*</sup></label>
                <div class="wrap_input">
                    <input type="text" class="form-control" id="address" maxlength="500" asp-for="@Model.Address">
                    <div class="validate-address"></div>
                </div>
            </div>

        </div>
        <div class="bold mb10 txt_14">Nội dung dịch vụ cần xuất</div>
        <div class="mb10 txt_14 validate-detail-info"></div>
        <div class="table-responsive table-default table-gray bg-white mb15">
            <table class="table table-nowrap" id="table_contenxt_request">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th style="min-width: 250px;">Tên hàng hóa, dịch vụ <sup class="red">*</sup></th>
                        <th>Đơn vị tính <sup class="red">*</sup></th>
                        <th class="text-right">Số lượng  <sup class="red">*</sup></th>
                        <th class="text-right">Đơn giá <sup class="red">*</sup></th>
                        <th class="text-right">Thành tiền</th>
                        <th class="text-right">Xuất thêm</th>
                        <th>Thu thêm</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="body_contenxt_request">
                </tbody>
            </table>
        </div>
        <div class="mb15" style="max-width: 300px;margin-left: auto;">
            <ul class="bold txt_14">
                <li class="flex space-between mb10">
                    <div>Tổng tiền cần xuất</div>
                    <div id="totalPriceBeforeVAT">0</div>
                </li>
                <li class="flex space-between mb10">
                    <div>Tổng tiền thu thêm</div>
                    <div id="totalPriceExportAfter">0</div>
                </li>
            </ul>
        </div>
        <div class="border-bottom mb15"></div>
        <div class="bold mb10 txt_14">Đơn hàng liên quan <sup class="red">*</sup></div>
        <div class="validate-orderId"></div>
        <div class="w-100 mb15" style=" padding-right: 10px !important;">
            <select class="select2 orderCode" id="orderCode"
                    onchange="_add_invoice_request.OnCheckedRequest()" multiple="multiple" style="width: 100% !important"> </select>
        </div>
        <div class="table-responsive table-default table-gray table-modal mb20 scroll-inner">
            <table class="table table-nowrap" id="request-relate-table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã đơn hàng</th>
                        <th style="min-width: 130px;">Ngày bắt đầu - Ngày kết thúc</th>
                        <th style="min-width: 130px;">Nhân viên chính</th>
                        <th class="text-right" style="min-width: 130px;">Số tiền</th>
                    </tr>
                </thead>
                <tbody id="body_orderList">
                </tbody>
            </table>
        </div>
        <div class="bold mb10 txt_14">Thông tin thêm</div>
        <div class="row row_min">
            <div class="form-group col-md-6">
                <label class="lbl">Ghi chú (0/3,000 ký tự)</label>
                <div class="wrap_input">
                    <textarea class="form-control" style="height: 90px;" id="note" asp-for="@Model.Note" maxlength="3000"></textarea>
                </div>
            </div>
            <div class="form-group col-md-6 attachment-edit">
               
            </div>
        </div>
    </div>


    <div class="text-right border-top pt-3">
        <button type="button" class="btn btn-default btn btn-default cancel" onclick="$.magnificPopup.close();">Bỏ qua</button>
        <button type="button" class="btn btn-default background-button" background-button onclick="_add_invoice_request.EditInvoiceRequest(0)">Lưu nháp</button>
        <button type="button" class="btn btn-default background-button" background-button onclick="_add_invoice_request.EditInvoiceRequest(1)">Gửi đi</button>
    </div>

</div>

<script type="text/javascript" src="/modules/add_invoice_request.js"></script>
<script>
    $('.datepicker-payment').Zebra_DatePicker({
        format: 'd/m/Y'
    }).removeAttr('readonly');
    _add_invoice_request.Initialization(true);
    _add_invoice_request.InitializationEdit(@Model.ClientId);
     _global_function.RenderFileAttachment($('.attachment-edit'),@Model.Id, @((int)AttachmentType.Invoice_Request))

</script>